{% extends 'clienttemplates/base.html' %}
{% load static %}
{% block bodycontent %}
		<div class="banner-w3agile">
			<div class="container">
				<h3><a href="/">Home</a> / <span>About Us</span></h3>
			</div>
		</div>
			<!--news-->
				<div class="new-w3agile">
					<div class="container">
						<div class="new-grids">
							<div class="col-md-9 new-left">
								<h3 class="tittle1">{{aboutus.title}}</h3>
								<img style="border: 1px solid #00ffff;" src="{{aboutus.image.url}}" class="img-responsive" alt="">
								<div class="new-bottom">
											<h5>{{aboutus.subtitle|safe}}</h5>
											<p>{{aboutus.text|safe}}</p>
										
										<div class="clearfix"></div>
								</div>
							</div>
								<div class="col-md-3 four_img_right">
								<h3 class="tittle1">Latest Events</h3>
								{% for newsevent in newseventlists %}
								<div class="new-top">
									<a href="{% url 'cmsapp:newseventdetail' newsevent.id %}"><h3>{{newsevent.title|truncatewords:12}}</h3></a>
									<a href="{% url 'cmsapp:newseventdetail' newsevent.id %}"><img src="{{newsevent.image.url}}" class="img-responsive" ></a>
									<p>{{newsevent.subtle|striptags|truncatewords:14}}</p>
								</div>
								<div class="clearfix"></div>
								{% endfor %}								
							</div>
							{% if bloglists %}
							<div class="col-md-3 four_img_right">
								<h3 class="tittle1">Blogs</h3>
								{% for bloglist in bloglists %}
								<div class="new-top">
									<a href="{% url 'cmsapp:blogdetail' bloglist.id %}"><h3>{{bloglist.title|truncatewords:12}}</h3></a>
									<a href="{% url 'cmsapp:blogdetail' bloglist.id %}"><img src="{{bloglist.image.url}}" class="img-responsive" ></a>
									<p>{{bloglist.subtle|striptags|truncatewords:11}}</p>
								</div>
								<div class="clearfix"></div>
								{% endfor %}								
							</div>
							{% endif %}
								<div class="clearfix"></div>
						</div>
					</div>
				</div>
			<!--news-->
{% endblock %}