{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Home :: GH Foundation</title>
<!--css-->
<link href="{% static 'clientstatic/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'clientstatic/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'clientstatic/css/ken-burns.css' %}" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'clientstatic/css/animate.min.css' %}" type="text/css" media="all" />
<!--css-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Studies Plus Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }</script>
<!--js-->
<script src="{% static 'clientstatic/js/jquery.min.js' %}"></script>
<script src="{% static 'clientstatic/js/bootstrap.min.js' %}"></script>
<!--js-->
<!--webfonts-->
<link href='//fonts.googleapis.com/css?family=Cagliostro' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!--webfonts-->
</head>
<body>
	<!--header-->
		<div class="header">
			<div class="header-top">
				<div class="container">
					<div class="detail">
						<ul>
							<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i> 
							{% for sitesetting in sitesettings %}
							{% if sitesetting.name == "phone" %}
							{{sitesetting.value}}
							{% endif %}
							{% endfor %}
							</li>
							
						</ul>
					</div>
					<div class="indicate">
						<p><i class="glyphicon glyphicon-time" aria-hidden="true"></i> 
							{% for sitesetting in sitesettings %}
							{% if sitesetting.name == "otime" %}
							{{sitesetting.value}}
							{% endif %}
							{% endfor %}</p>
							 
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="container">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
				<!---Brand and toggle get grouped for better mobile display--->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>				  
							<div class="navbar-brand">
								<h1><strong>
									{% for logoset in logosets %}
									{% if logoset.title == "logo" %}
									<img width="60px" src="{{logoset.image.url}}" alt="{{logoset.alt}}">
									{% endif %}
									{% endfor %}
									{% for logoset in logosets %}
									{% if logoset.title == "banner" %}
									<a href="/"><img width="90%" src="{{logoset.image.url}}" alt="{{logoset.alt}}"></a>
									{% endif %}
									{% endfor %}
									</strong>
								</h1>
								
							</div>
						</div>
						<!--menu list-->
						   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<nav class="link-effect-2" id="link-effect-2">
								<ul class="nav navbar-nav">
									{% for menubar in mainMenubars %}
									<div class="dropdown">
										<li class="{% if request.get_full_path == '/' and menubar.slug == '/home/' %} 
											active 
											{% elif request.get_full_path == menubar.slug %} active 
											{% endif %}">
											<a href="{% if menubar.menubar_set.count > 0%}#{% else %} {{menubar.slug}}{% endif %}"><span>{{menubar.title}}</span>
										<i class="glyphicon{% if menubar.menubar_set.count > 0%} glyphicon-menu-down{% endif %}"> </i>
											</a>	
										</li>
										 <div class="dropdown-content">
										 	{% for submenu in menubar.menubar_set.all|dictsort:"priority" %}
										 	{% if menubar.link == None  %}
										    <a href="/{{submenu.slug}}">{{submenu.title}}</a>
										    {% else %}		
										    <a href="/{{menubar.root.slug}}/{{submenu.slug}}/">{{submenu.title}}</a>	
										    {% endif %}
										    {% endfor %}
										   
										  </div>
									</div>
									{% endfor %}
								</ul>
							</nav>
						</div>
						<!--end menu -->					
					</div>
				</nav>
			</div>
		</div>
	<!--header-->
	{% block bodycontent %}

	{% endblock %}
	
{% block active_menu %}{% endblock %}

			<!--footer-->
			<div class="footer-w3">
				<div class="container">
					<div class="footer-grids">
						<div class="col-md-4 footer-grid">
							
							{% for header_about in header_aboutus %}
								{% if header_about.slug == "aboutus" %}
									<a href="{% url 'cmsapp:aboutusdetail' header_about.id %}"><h4>About Us</h4></a>
									<p>{{header_about.subtle|striptags|safe|truncatewords:50}}
									<a href="{% url 'cmsapp:aboutusdetail' header_about.id %}">Read More</a></p>
								{% endif %}
							{% endfor %}						
						</div>
						<div class="col-md-4 footer-grid">
						<h4>Galleries</h4>
						{% for homegallery in homegalleries %}
							<div class="footer-grid1">
								<a href="/gallery/"><img src="{{homegallery.image.url}}" alt="{{homegallery.caption}}" class="img-responsive"></a>
							</div>
						{% endfor %}
							<div class="clearfix"> </div>
						</div>
						<div class="col-md-4 footer-grid">
						<h4>Information</h4>
							<ul>
								<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>
									{% for sitesetting in sitesettings %}
									{% if sitesetting.name == "address" %}
									{{sitesetting.value}}
									{% endif %}
									{% endfor %}	
								</li>
								<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>
									{% for sitesetting in sitesettings %}
									{% if sitesetting.name == "phone" %}
									{{sitesetting.value}}
									{% endif %}
									{% endfor %}
								</li>
								<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
									{% for sitesetting in sitesettings %}
									{% if sitesetting.name == "email" %}
									<a href="#">{{sitesetting.value}}</a>
									{% endif %}
									{% endfor %}
								</li>
								<li><i class="glyphicon glyphicon-time" aria-hidden="true"></i>
									{% for sitesetting in sitesettings %}
									{% if sitesetting.name == "otime" %}
									{{sitesetting.value}}
									{% endif %}
									{% endfor %}
								</li>
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		<!--footer-->
		<!---copy--->
			<div class="copy-section">
				<div class="container">
					<div class="social-icons">
							{% for sitesetting in sitesettings %}
							{% if sitesetting.name == "facebook" %}							
							<a href="https://www.facebook.com/{{sitesetting.value}}" target="_blank"><i class="icon1"></i></a>
							{% endif %}
							{% endfor %}
							{% for sitesetting in sitesettings %}
							{% if sitesetting.name == "twitter" %}		
						<a href="https://www.twitter.com/{{sitesetting.value}}" target="_blank">
							<i class="icon2"></i>
						</a>
							{% endif %}
							{% endfor %}
							{% for sitesetting in sitesettings %}
							{% if sitesetting.name == "instagram" %}		
						<a href="https://www.instagram.com/{{sitesetting.value}}" target="_blank"><i class="icon3"></i></a>
							{% endif %}
							{% endfor %}
							{% for sitesetting in sitesettings %}
							{% if sitesetting.name == "linkedin" %}		
						<a href="https://www.linkedin.com/{{sitesetting.value}}" target="_blank"><i class="icon4"></i></a>
							{% endif %}
							{% endfor %}
					</div>
					<div class="copy">
						<p>{% for sitesetting in sitesettings %}
							{% if sitesetting.name == "copyright" %}
							{{sitesetting.value}}
							{% endif %}
							{% endfor %}
							Green Himalaya Foundation. | Developed by <a href="#">Pravin Rai</a></p>
					</div>
				</div>
			</div>
			<!---copy--->


				
</body>
</html>
