{% extends 'clienttemplates/base.html' %}
{% load static %}
{% block bodycontent %}
		<div class="banner-w3agile">
			<div class="container">
				<h3><a href="/">Home</a> / <span>Blog</span></h3>
			</div>
		</div>
			<!--news-->
				<div class="new-w3agile">
					<div class="container">
						<div class="new-grids">
							<div class="col-md-9 four_img_left">
							<h2 class="tittle">Blogs</h2>
							{% for blog in blogs %}
								<div class="course-grids" style="border-bottom:1px solid #00FFFF;">
									 {% if forloop.counter|divisibleby:2 %}
									<div class="col-md-6 course-grid">
										<div class="mask">
											<a href="{% url 'cmsapp:blogdetail' blog.slug %}"><img src="{{blog.image.url}}" class="img-responsive zoom-img" /></a>
										</div>
									</div>
									<div class="col-md-6 course-grid1 gri">
										<h4><a href="{% url 'cmsapp:blogdetail' blog.slug %}">{{blog.title}}</a></h4>
										<p>{{blog.updated_at|date:"F d, Y"}}|{{blog.author}}</p>
										{{blog.subtle|safe}}
										<a href="{% url 'cmsapp:blogdetail' blog.slug %}">Read more..</a>
									</div>
									{% else %}
									<div class="col-md-6 course-grid1">
										<h4><a href="{% url 'cmsapp:blogdetail' blog.slug %}">{{blog.title}}</a></h4>
										<p>{{blog.updated_at|date:"F d, Y"}}|{{blog.author}}</p>
										{{blog.subtle|safe}}
										<a href="{% url 'cmsapp:blogdetail' blog.slug %}">Read more..</a>
									</div>
									<div class="col-md-6 course-grid gri">
										<div class="mask">
											<a href="{% url 'cmsapp:blogdetail' blog.slug %}"><img src="{{blog.image.url}}" class="img-responsive zoom-img" /></a>
										</div>
									</div>
									{% endif %}
									<hr>
									<div class="clearfix"></div>
									<br>
								</div>
							{% endfor %}			
							</div>
							<div class="col-md-3 four_img_right">
								<h3 class="tittle1">Latest Events</h3>
								{% for newsevent in newseventlists %}
								<div class="new-top">
									<a href="{% url 'cmsapp:newseventdetail' newsevent.id %}"><h3>{{newsevent.title|truncatewords:12}}</h3></a>
									<a href="{% url 'cmsapp:newseventdetail' newsevent.id %}"><img src="{{newsevent.image.url}}" class="img-responsive" ></a>
									<p>{{newsevent.subtle|striptags|truncatewords:14}}</p>
								</div>
								<div class="clearfix"></div>
								{% endfor %}								
							</div>
							{% if bloglists %}
							<div class="col-md-3 four_img_right">
								<h3 class="tittle1">Other Blogs</h3>
								{% for bloglist in bloglists %}
								<div class="new-top">
									<a href="{% url 'cmsapp:blogdetail' bloglist.id %}"><h3>{{bloglist.title|truncatewords:12}}</h3></a>
									<a href="{% url 'cmsapp:blogdetail' bloglist.id %}"><img src="{{bloglist.image.url}}" class="img-responsive" ></a>
									<p>{{bloglist.subtle|striptags|truncatewords:11}}</p>
								</div>
								<div class="clearfix"></div>
								{% endfor %}								
							</div>
							{% endif %}
								<div class="clearfix"></div>
							
						</div>
					</div>
				</div>
			<!--news-->
{% endblock %}