{% extends 'clienttemplates/base.html' %}
{% load static %}
{% block bodycontent %}
		<div class="banner-w3agile">
			<div class="container">
				<h3><a href="/">Home</a> / <span>Blogs</span></h3>
			</div>
		</div>
	<div class="new-w3agile">
					<div class="container">
						<div class="new-grids">
							<div class="col-md-9 four_img_left">
								<h2 class="tittleblog">{{blog.title}}</h2>
								<p><i>{{blog.updated_at|date:"F d, Y"}} | {{blog.author}}</i></p>
								<div class="course-grids">
									<div class="col-md-12 course-grid">
										<div class="mask">
											<img src="{{blog.image.url}}" class="img-responsive zoom-img" />
										</div>
									</div>
									<div class="col-md-12 course-grid1 gri">
										{{blog.text|safe}}
									</div>
									<div class="clearfix"></div>
								</div>
							</div>

							<div class="col-md-3 four_img_right">
								<h3 class="tittle1">Recent blogs</h3>
								{% if bloglists.count > 1 %}
								{% for bloglist in bloglists %}
								{% if bloglist != blog %}
								<div class="new-top">
									<h4><a href="{% url 'cmsapp:blogdetail' bloglist.slug %}">{{bloglist.title|truncatewords:10}}</a></h4>
									<p><i>-{{bloglist.author}} | {{bloglist.updated_at|date:"F d, Y"}}</i><br>
									{{bloglist.text|striptags|truncatewords:9}}</p>
								</div>
								{% endif %}
								{% endfor %}
								{% endif %}
							</div>
								<div class="clearfix"></div>
						</div>
					</div>
				</div>	


{% endblock %}