{% extends 'clienttemplates/base.html' %}
{% load static %}
{% block bodycontent %}
	<!-- banner -->
	<div class="banner">
		<div id="kb" class="carousel kb_elastic animate_text kb_wrapper" data-ride="carousel" data-interval="6000" data-pause="hover">

            <!-- Wrapper-for-Slides -->
            <div class="carousel-inner" role="listbox">
            	{% for slideshow in slideshows %}

                <!-- First-Slide -->
                <!--   	<div class="item active">
                    <img src="{% static 'clientstatic/img/ba1.jpg' %}" alt="" class="img-responsive" />
                    <div class="carousel-caption kb_caption">
                        <h3 data-animation="animated flipInX">Beutifull nepal</h3>
                    </div>
                    </div> -->
                  	{% if forloop.counter == 1 %}
                		<div class="item active">
                   	{% else %}
                	  	<div class="item">   
                	{% endif %}             	
                    		<img src="{{slideshow.image.url}}" alt="" class="img-responsive" />
                    		<div class="carousel-caption kb_caption">
                        	<h3 data-animation="animated flipInX">{{slideshow.caption}}</h3>
                    		</div>
                		</div>
                {% endfor %}
            </div>
			<!-- Left-Button -->
            <a class="left carousel-control kb_control_left" href="#kb" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <!-- Right-Button -->
            <a class="right carousel-control kb_control_right" href="#kb" role="button" data-slide="next">
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
			
        </div>
		<script src="{% static 'clientstatic/js/custom.js' %}"></script>
	</div>
<!--banner-->
	<!--content-->
		<div class="content">
			<!--welcome-->
			<div class="content">
				<div class="courses-w3ls">
					<div class="container">
						<!-- #######################################-->
						{% for home_about in home_aboutus %}
						{% if home_about.slug == "welcome" %}
									<h4></h4>
									<p class="txt_justify"></p>					
					<h2 class="tittle">{{home_about.title}}</h2>
					<div class="course-grids">
						<div class="col-md-6 course-grid">
							<div class="mask">
								<img src="{{home_about.image.url}}" class="img-responsive zoom-img" />
							</div>
						</div>
						<div class="col-md-6 course-grid1 gri">
							<h4>{{home_about.subtitle}}</h4>
							{{home_about.subtle|safe}}
							<a href="{% url 'cmsapp:aboutusdetail' home_about.id %}">Read More..</a>
						</div>
						<div class="clearfix"></div>
					</div>
						{% endif %}
						{% endfor %}

					<!-- #######################################-->
					<div class="ourser-grids">
						{% for projectarea in projectareas %}
							<div class="col-md-3 four_col_grid">
							<div class="mask">
								<a href="{% url 'cmsapp:projectareadetail' projectarea.id %}"><img src="{{projectarea.image.url}}" class="img-responsive zoom-img" /></a>
							</div>
							<a href="{% url 'cmsapp:projectareadetail' projectarea.id %}"><h4>{{projectarea.title}}</h4></a>
						</div>
						{% endfor %}						
						<div class="clearfix"></div>
					</div>
			
				</div>
			</div>
		</div>
			<!--welcome-->
			<div class="services-w3l">
			<!-- events -->
			<div class="our-services-w3">
				<div class="container">
					{% for overview in overviews %}
						{% if overview.menubar.slug == "newsevents/" %}
						<h3 class="tittle">{{overview.title}}</h3>
						<div class=" overview">
							<h3>{{overview.subtitle}}</h3>
							<p class="txt_justify">{{overview.text|safe}}</p>						
						</div>
						{% endif %}
					{% endfor %}
					<div class="ourser-grids">
						{% for newsevent in newsevents %}
							<div class="col-md-3 four_col_grid">
							<div class="mask">
								<a href="{% url 'cmsapp:newseventdetail' newsevent.id %}">
									<img src="{{newsevent.image.url}}" class="img-responsive zoom-img" /></a>
							</div>
								<a href="{% url 'cmsapp:newseventdetail' newsevent.id %}"><h4>{{newsevent.title}}</h4></a>
								<p>{{newsevent.subtle|truncatechars:newsevent.thumbnail_limit}}</p>
							</div>
						{% endfor %}
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<!-- end events -->
			<!--testimonials-->
				<div class="testimonials-w3">
					<div class="container">
						<div class="donate_grid">
					{% for header_about in header_aboutus %}
						{% if header_about.slug == "donar" %}
						<a href="{% url 'cmsapp:aboutusdetail' header_about.id %}">
							<img src="{% static 'clientstatic/img/donate.png' %}" alt=/>
						</a>
						<h5>{{header_about.subtitle}}</h5>
						<p><i><a href="{% url 'cmsapp:aboutusdetail' header_about.id %}">Read More..</a></i></p>
						{% endif %}
					{% endfor %}		
						</div>
					</div>
				</div>
			<!--testimonials-->
			<!--news-->
				<div class="new-w3agile">
					<div class="container">
						<div class="new-grids">
							<div class="col-md-6 new-left">
								<div class="tittle_new">
									<h2>Testimonials</h2>
								</div>
								{% for header_testimonial in header_testimonials %}
								<div class="testimonial_in">
									<div class="testimonial_inbox">
										<img src="{{header_testimonial.image.url}}">
										<h6>{{header_testimonial.text|striptags|truncatechars:250|safe}}</h6>
									</div>
									<div class="testimonial_inbox_caps">
										<b>{{header_testimonial.name}}, </b><i>{{header_testimonial.workat}}</i><br>
										<i>{{header_testimonial.address}}</i>
									</div>
								</div>
								{% endfor %}						
							</div>
							<div class="col-md-6 new-right">
								<div class="tittle_new">
									<h2>Latest Blogs</h2>
								</div>
								{% for header_blog in header_blogs %}
									<div class="new-bottom">
										<div class="new-bottom-left">
											<a href="{% url 'cmsapp:blogdetail' header_blog.id %}">
												<img src="{{header_blog.image.url}}" class="img-responsive" alt=""></a>
										</div>
										<div class="new-bottom-right">
											<a href="{% url 'cmsapp:blogdetail' header_blog.id %}"><h5>{{header_blog.title}}</h5><i>-{{header_blog.author}}  | {{header_blog.updated_at|date:"F d, Y"}}</i></a>
											<p style="text-align: justify;">{{header_blog.subtle|striptags|safe|truncatechars:150}}
												<a href="{% url 'cmsapp:blogdetail' header_blog.id %}">Read More..</a></p>
										</div>
										<div class="clearfix"></div>
									</div>
								{% endfor %}								
							</div>
								<div class="clearfix"></div>
						</div>
					</div>
				</div>
			<!--news-->
		</div>
		<!--content-->

{% endblock %}