{% extends 'clienttemplates/base.html' %}
{% load static %}

{% block bodycontent %}
		<div class="banner-w3agile">
			<div class="container">
				<h3><a href="">Home</a> / <span>Contact</span></h3>
			</div>
		</div>
	<div class="content">
			<!--contact-->
			<div class="contact-w3l">
				<div class="container">
					<h2 class="tittle">How To Find Us</h2>
					<div class="contact-bottom">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d695.6982591117287!2d85.35923356495806!3d27.732536546761885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb1be0d1205a9f%3A0x20a137650db56270!2sGreen+Himalaya+Foundation+!5e0!3m2!1sen!2snp!4v1564829301553!5m2!1sen!2snp" allowfullscreen></iframe>
					</div>
					<div class="col-md-4 contact-left">
						<div class="contct-info">
							{% for overview in overviews %}
							{% if overview.menubar.slug == "contact/" %}
							<h4>{{overview.title}}</h4>
							<p>{{overview.text|safe}}</p>
							{% endif %}
							{% endfor %}
							<ul>
								<li>Mobile Phone :
									{% for sitesetting in sitesettings %}
									{% if sitesetting.name == "mobile" %}
									{{sitesetting.value}}
									{% endif %}
									{% endfor %}

								</li>
								<li>Telephone :
									{% for sitesetting in sitesettings %}
									{% if sitesetting.name == "phone" %}
									{{sitesetting.value}}
									{% endif %}
									{% endfor %}
								</li>
								<li>Fax: 
									{% for sitesetting in sitesettings %}
									{% if sitesetting.name == "fax" %}
									{{sitesetting.value}}
									{% endif %}
									{% endfor %}
								</li>
								<li>Email : {% for sitesetting in sitesettings %}
									{% if sitesetting.name == "email" %}												
									<a href="mailto:{{sitesetting.value}}">{{sitesetting.value}}</a>
									{% endif %}
									{% endfor %}
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-8 contact-left cont">
						<div class="contct-info">
							<h4>Contact Form</h4>
							<form method="POST" enctype="multipart/form-data">
								{% csrf_token %}
								<div class="row">
									<div class="col-md-6 row-grid">
										{{form.name}}
									</div>
									<div class="col-md-6 row-grid">
										{{form.email}}
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="row">
									<div class="col-md-6 row-grid">
										{{form.subject}}
									</div>
									<div class="col-md-6 row-grid">
										{{form.phone}}
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="clearfix"></div>
								<div style="padding-top:1.5em;">
									{{form.text}}
								</div>
								<input type="submit" value="Submit" >
								<input type="reset" value="Clear" >
							</form>
						</div>
					</div>
				</div>
			</div>
			<!--contact-->
		</div>
{% endblock %}