{% extends 'clienttemplates/base.html' %}
{% load static %}
{% block bodycontent %}
<link rel="stylesheet" href="{% static 'clientstatic/css/smoothbox.css' %}" type='text/css' media="all" />
<script type="text/javascript" src="{% static 'clientstatic/js/smoothbox.jquery2.js' %}"></script>
		<div class="banner-w3agile">
			<div class="container">
				<h3><a href="/">Home</a> / <span>Gallery</span></h3>
			</div>
		</div>
<!--Projects-->
		<div class="content">
			<div class="projects-agile">
				<div class="container">
					<h2 class="tittle">Gallery</h2>
		  				{% for gallery in galleries %}
							<div class="col-md-4 w3agile_Projects_grid">
									<a class="sb" href="{{gallery.image.url}}" title="quis nostrud exercitation ullamco">
										<figure>
											<img src="{{gallery.image.url}}" alt="" class="img-responsive" />
											<figcaption>
												<h4>{{gallery.title}}</h4>
												<p>
													{{gallery.caption}}
												</p>
											</figcaption>
										</figure>
									</a>
							</div>
							{% endfor %}		
						</div>
					
				</div>
			</div>
		</div>
		<!--Projects-->
		<div class="pagination">
    <span class="step-links">
        {% if galleries.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ galleries.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ galleries.number }} of {{ galleries.paginator.num_pages }}.
        </span>

        {% if galleries.has_next %}
            <a href="?page={{ galleries.next_page_number }}">next</a>
            <a href="?page={{ galleries.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}