{% extends 'clienttemplates/base.html' %}
{% load static %}
{% block bodycontent %}
		<div class="banner-w3agile">
			<div class="container">
				<h3><a href="index.html">Home</a> / <span>News Events</span></h3>
			</div>
		</div>
		<div class="serach-w3agile">
			<div class="container">
				{% for overview in overviews %}
				{% if overview.menubar.slug == "newsevents/" %}
				<h3 class="tittle2">{{overview.title}}</h3>
				<div class="place-grids">
					<p>{{overview.text|safe}}</p>
					<div class="clearfix"></div>
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>

		<!--content-->
		<div class="content" style="background: #00FFFF">
			<div class="courses-w3ls">
				<div class="container">
					{% for newsevent in newsevents %}
					<div class="course-grids">
						 {% if forloop.counter|divisibleby:2 %}
						 	<div class="col-md-6 course-grid">
								<div class="mask">
									<a href="{% url 'cmsapp:newseventdetail' newsevent.id %}">
										<img src="{{newsevent.image.url}}" class="img-responsive zoom-img" />
									</a>
								</div>
							</div>
							<div class="col-md-6 course-grid1 gri">
								<a href="{% url 'cmsapp:newseventdetail' newsevent.id %}"><h4>{{newsevent.title}}</h4></a>
								<p>{{newsevent.subtle|safe}} <a href="{% url 'cmsapp:newseventdetail' newsevent.id %}">read more..</a></p>
							</div>
							<div class="clearfix"></div>
						 {% else %}
						<div class="col-md-6 course-grid1">
							<a href="{% url 'cmsapp:newseventdetail' newsevent.id %}"><h4>{{newsevent.title}}</h4></a>
							<p>{{newsevent.subtle|safe}}<a href="{% url 'cmsapp:newseventdetail' newsevent.id %} ">read more..</a></p>
						</div>
						<div class="col-md-6 course-grid gri">
							<div class="mask">
								<a href="{% url 'cmsapp:newseventdetail' newsevent.id %}">
									<img src="{{newsevent.image.url}}" class="img-responsive zoom-img" />
								</a>
							</div>
						</div>
						<div class="clearfix"></div>
						  {% endif %}
					</div>
					{% endfor %}
				</div>
			</div>
		</div>	
		<!--content-->
		

{% endblock %}