{% extends 'clienttemplates/base.html' %}
{% load static %}
{% block bodycontent %}
		<div class="banner-w3agile">
			<div class="container">
				<h3><a href="/">Home</a> / <span>News Events </span></h3>
			</div>
		</div>
	<div class="new-w3agile">
					<div class="container">
						<div class="new-grids">
							<div class="col-md-9 four_img_left">
								<h2 class="tittleblog">{{newseventdetail.title}}</h2>
								<p>- {{newseventdetail.updated_at|date:"F d, Y"}}</p>
								<div class="course-grids">
									<div class="col-md-12 course-grid">
										<div class="mask">
											<img src="{{newseventdetail.image.url}}" class="img-responsive zoom-img" />
										</div>
									</div>
									<div class="col-md-12 course-grid1 gri">
										{{newseventdetail.text|safe}}
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="col-md-3 four_img_right">
								<h3 class="tittle1">Related Links</h3>
								{% for bloglist in bloglists %}
								<div class="new-top">
									<h4><a href="{% url 'cmsapp:blogdetail' bloglist.id %}">{{bloglist.title|truncatewords:10}}</a></h4>
									<p><i>-{{bloglist.author}} | {{bloglist.updated_at|date:"F d, Y"}}</i><br>
									{{bloglist.text|striptags|truncatewords:9}}</p>
								</div>
								{% endfor %}
							</div>
								<div class="clearfix"></div>
						</div>
					</div>
				</div>			

{% endblock %}