{% extends 'clienttemplates/base.html' %}
{% load static %}
{% block bodycontent %}
		<div class="banner-w3agile">
			<div class="container">
				<h3><a href="/">Home</a> / <span>Team</span></h3>
			</div>
		</div>
			<!--news-->
				<div class="new-w3agile">
					<div class="container">
						<div class="new-grids">
							<div class="col-md-12 four_img_left">
							{% for overview in overviews %}
							{% if overview.menubar.slug == "ourteam/" %}			
								<h3 class="tittle1">{{overview.title}}</h3>
									<h4>{{overview.subtitle}}</h4>
									<p>{{overview.text|safe}}</p>
							{% endif %}
							{% endfor %}
							{% for ourteam_in in ourteamCats %}
							<h4 class="subtitle2">{{ourteam_in.title}}</h4>	
							{% for ourteam in ourteam_in.person_set.all|dictsort:"priority" %}							
								<div class="teamed_grid">										
									<div class="col-md-3 four_col_grid_img" style="text-align: center;">
										<div class="mask">

											<a href="#">
												{% if ourteam.image %}
												<img src="{{ourteam.image.url}}" class="img-responsive" />
												{% else %}
												<img src="{% static 'clientstatic/img/01ourteamcover.jpg' %}" class="img-responsive" />
												{% endif %}
											</a>
										</div>
										<h5><a href="#" >{{ourteam.name}}</a></h5>
														<p style="padding-bottom:1em;">{{ourteam.post}}</p>
									</div>		
								</div>
							
								{% endfor %}
								<div class="clearfix"></div>
							{% endfor %}
								<!-- <h3 class="subtitle2" style="text-align: center;">Our Main Donors</h3>
								<div class="new-bottom">
									<div class="new-bottom-left">
										<img src="{{ourteam.image.url}}" class="img-responsive" alt="">
									</div>
										<div class="new-bottom-right">
											<h4 class="subtitle2">Our Well Wisher and Donor Devid </h4>
										<p>Nullam egestas diam eu felis dignissim, vitae posuere ex pretium. Morbi quam purus, rhoncus eget enim sed, laoreet venenatis arcu. Curabitur vestibulum, orci pulvinar pretium cursus, diam ante pretium elit, at finibus nisl ligula vitae enim. eu eleifend enim condimentum ac.diam ante pretium elit, at finibus nisl ligula vitae enim. eu eleifend enim condimentum ...<a href="#">Read more</a></p>
										</div>
										<div class="clearfix"></div>
								</div>
								<div class="new-bottom">
									<div class="new-bottom-left">
										<img src="{% static 'clientstatic/img/t4.jpg' %}" class="img-responsive" alt="">
									</div>
										<div class="new-bottom-right">
										<h4 class="subtitle2">Our Well Wisher and Donor Devid </h4>
										<p>Nullam egestas diam eu felis dignissim, vitae posuere ex pretium. Morbi quam purus, rhoncus eget enim sed, laoreet venenatis arcu. Curabitur vestibulum, orci pulvinar pretium cursus, diam ante pretium elit, at finibus nisl ligula vitae enim. eu eleifend enim condimentum acCurabitur vestibulum, orci pulvinar pretium cursus, diam ante pretium elit, at finibus nisl ligula vitae enim. eu eleifend ...<a href="#">Read more</a></p>
										</div>
										<div class="clearfix"></div>
								</div>	 -->						
							
							</div>
					 	</div>
					</div>
				</div>
			<!--news-->
{% endblock %}