{% extends 'clienttemplates/base.html' %}
{% load static %}
{% block bodycontent %}
		<div class="banner-w3agile">
			<div class="container">
				<h3><a href="/">Home</a> / <span>Overview</span></h3>
			</div>
		</div>
			<!--news-->
				<div class="new-w3agile">
					<div class="container">
						<div class="new-grids">
							<div class="col-md-9 new-left">
								<h3 class="tittle1">{{overview.title}}</h3>
								<img src="{{overview.image.url}}" class="img-responsive" alt="">
								<div class="new-bottom">
											<h5>{{overview.subtitle}}</h5>
											<p>{{overview.text|safe}}</p>
										
										<div class="clearfix"></div>
								</div>
							</div>
							<div class="col-md-3 new-right">
								<h3 class="tittle1">Related Links</h3>
								{% for bloglist in bloglists %}
								<div class="new-top">
									<h5><a href="{% url 'cmsapp:blogdetail' bloglist.id %}">{{bloglist.title|truncatewords:10}}</a></h5>
									<p><i>-{{bloglist.author}} | {{bloglist.updated_at|date:"F d, Y"}}</i><br>
									{{bloglist.text|striptags|truncatewords:9}}</p>
								</div>
								{% endfor %}
							</div>
								<div class="clearfix"></div>
						</div>
					</div>
				</div>
			<!--news-->
{% endblock %}