{% extends 'clienttemplates/base.html' %}
{% load static %}
{% block bodycontent %}
		<div class="banner-w3agile">
			<div class="container">
				<h3><a href="/">Home</a> / <span>Reports</span></h3>
			</div>
		</div>
			<!--news-->
				<div class="new-w3agile">
					<div class="container">
						<div class="new-grids">
							<div class="col-md-12 four_img_left">
							{% for overview in overviews %}
							{% if overview.menubar.slug == "report/" %}			
								<h3 class="tittle1">{{overview.title}}</h3>
									<h4>{{overview.subtitle}}</h4>
									<p>{{overview.text|safe}}</p>
							{% endif %}
							{% endfor %}
							{% for report_in in reportcats %}
							<h4 class="subtitle2">{{report_in.title}}</h4>	
							{% for report in report_in.report_set.all|dictsort:"priority" %}							
								<div class="teamed_grid">										
									<div class="col-md-3 four_col_grid_img" style="text-align: center;">
										<div class="mask">

											<a href="{{report.file.url}}" target=_blank>
												{% if report.image %}
												<img src="{{report.image.url}}" class="img-responsive" />
												{% else %}
												<img src="{% static 'clientstatic/img/ghcover.jpg' %}" class="img-responsive" />
												{% endif %}
											</a>
										</div>
										<h5><a href="{{report.file.url}}" target=_blank>{{report.title}}</a></h5>
									</div>		
								</div>
							
								{% endfor %}
								<div class="clearfix"></div>
							{% endfor %}
							</div>
					 	</div>
					</div>
				</div>
			<!--news-->
{% endblock %}