{% extends 'admintemplates/base.html' %}

{% block content %}
 <div class="set-3">
	<div class="graph-2 general">
		<h3 class="inner-tittle two">Report</h3>
		<h5 style="float: right;padding-right: 20px;margin-top:-20px;">[<a href="{% url 'cmsapp:adminreportcatcreate' %}">+ Report Category</a>]     </h5>
		<div class="grid-1">
			<div class="form-body">
				<form method="POST" enctype="multipart/form-data" class="form-horizontal">
					{% csrf_token %}
					<div class="form-group">
							<label for="focusedinput" class="col-sm-2 control-label">Title </label>
							<div class="col-sm-8">							
								{{form.title}}
							</div>
							<div class="col-sm-2">
								<p class="help-block"></p>
							</div>
					</div>
					<div class="form-group">
							<label for="focusedinput" class="col-sm-2 control-label">Type</label>
							<div class="col-sm-8">							
								{{form.r_type}}
							</div>
							<div class="col-sm-2">
								<p class="help-block"></p>
							</div>
					</div>
					<div class="form-group">
							<label for="focusedinput" class="col-sm-2 control-label">Image </label>
							<div class="col-sm-8">							
								{{form.image}}
							</div>
							<div class="col-sm-2">
								<p class="help-block"></p>
							</div>
					</div>
					<div class="form-group">
							<label for="focusedinput" class="col-sm-2 control-label">Caption </label>
							<div class="col-sm-8">							
								{{form.caption}}
							</div>
							<div class="col-sm-2">
								<p class="help-block"></p>
							</div>
					</div>
					<div class="form-group">
							<label for="focusedinput" class="col-sm-2 control-label">File </label>
							<div class="col-sm-8">							
								{{form.file}}
							</div>
							<div class="col-sm-2">
								<p class="help-block"></p>
							</div>
					</div>
					<div class="form-group">
							<label for="focusedinput" class="col-sm-2 control-label">priority </label>
							<div class="col-sm-8">							
								{{form.priority}}
							</div>
							<div class="col-sm-2">
								<p class="help-block"></p>
							</div>
					</div>
					<button class="btn btn-outline-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}