{% extends 'admintemplates/base.html' %}

{% block content %}
  
  <h3>User Lists</h3>
  <h5 style="float: right;padding-right: 20px;">[<a href="{% url 'cmsapp:adminuserinfocreate' %}">Add New</a>]     </h5>
  <table class="table table-hover">
  	<thead>
  		<tr>
  			<th>SN.</th>
  			<th>Name</th>
        <th>Address</th>
        <th>Email</th>
        <th>Mobile</th>
  			<th>Image</th>
  			<th>Action</th>
  		</tr>
  	</thead>
  	<tbody>
  		{% for userinfolist in userinfolists %}
  		<tr>
  			<td>{{forloop.counter}}</td>
  			<td><a href="{% url 'cmsapp:adminuserinfodetail' userinfolist.id %}">{{userinfolist.full_name}}</a></td>        
        <td>{{userinfolist.address}}</td>
        <td>{{userinfolist.email}}</td>
        <td>{{userinfolist.mobile}}</td>
  			<td>{% if userinfolist.image %}<img src="{{userinfolist.image.url}}" width="50">{% endif %}</td>
        <td>{{userinfolist.caption}}</td>        
  			<td><a href="{% url 'cmsapp:adminuserinfoupdate' userinfolist.id %}">Update</a> |
           <a href="{% url 'cmsapp:adminuserinfodelete' userinfolist.id %}">Delete</a></td>


  		</tr>

  		{% endfor %}
  	</tbody>
  	



  </table>

{% endblock %}
