{% extends 'admintemplates/base.html' %}
{% load static %}

{% block content %}
<h3>Notice List</h3><hr>
<table class="table table-hover"> 
	<thead>
		<tr>
			<th>S.N.</th>
			<th>Title</th>
			<th>Date</th>
			<th>Crateed By</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{% for event in eventlist %}
		<tr>
			<td>{{forloop.counter}}</td>
			<td>{{event.title}}</td>
			<td>{{event.date}}</td>
			<td>{{event.created_by}}</td>
			<td><a href="{% url 'cmsapp:admineventdelete' event.id %}">Delete</a> | 
				<a href="{% url 'cmsapp:admineventupdate' event.id %}">Update</a></td>
		</tr>
		{% endfor %}
	</tbody>
	
</table>
{% endblock %}