{% extends 'admintemplates/base.html' %}
{% load static %}

{% block content %}
<h3>Notice List</h3><hr>
<table class="table table-hover"> 
	<thead>
		<tr>
			<th>S.N.</th>
			<th>Title</th>
			<th>Date</th>
			<th>Crateed By</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{% for notice in noticelist %}
		<tr>
			<td>{{forloop.counter}}</td>
			<td>{{notice.title}}</td>
			<td>{{notice.date}}</td>
			<td>{{notice.created_by}}</td>
			<td><a href="{% url 'cmsapp:adminnoticedelete' notice.id %}"><i class="fa fa-trash-o"></i>  Delete</a> | 
				<a href="{% url 'cmsapp:adminnoticeupdate' notice.id %}"><i class="fa fa-pencil-square-o"></i>  Edit</a></td>
		</tr>
		{% endfor %}
	</tbody>
	
</table>
{% endblock %}