{% extends 'admintemplates/base.html' %}

{% block content %}
  
  <h3>Logo and Banner Settings</h3>
  <table class="table table-hover">
  	<thead>
  		<tr>
  			<th>SN.</th>
  			<th>Title</th>
  			<th>Image</th>
  			<th>Action</th>
  		</tr>
  	</thead>
  	<tbody>
  		{% for logo in logos %}
  		<tr>
  			<td>{{forloop.counter}}</td>
  			<td>{{logo.title}}</td>
  			<td><img src="{{logo.image.url}}" width="50"></td>
  			<td><a href="{% url 'cmsapp:adminlogoupdate' logo.id %}"><i class="fa fa-pencil-square-o"></i>  Edit</a> </td>
  		</tr>

  		{% endfor %}
  	</tbody>
  	



  </table>

{% endblock %}
