{% extends 'admintemplates/base.html' %}
{% load static %}

{% block content %}
<h3>News Events </h3><hr>
<table class="table table-hover"> 
	<thead>
		<tr>
			<th>S.N.</th>
			<th>Title</th>
			<th>Text</th>
			<th>Image</th>
			<th>Priority</th>
			<th width="13%">Action</th>
		</tr>
	</thead>
	<tbody>
		{% for newsevent in newsevents %}
		<tr>
			<td>{{forloop.counter}}</td>
			<td>{{newsevent.title}}</td>
			<td>{{newsevent.text|striptags|truncatewords:40|safe}}</td>
			<td><img src="{{newsevent.image.url}}" width="60"></td>
			<td>{{newsevent.priority}}</td>
			<td><a href="{% url 'cmsapp:adminnewseventdelete' newsevent.id %}"><i class="fa fa-trash-o"></i>  Delete</a> | 
				<a href="{% url 'cmsapp:adminnewseventupdate' newsevent.id %}"><i class="fa fa-pencil-square-o"></i>  Edit</a></td>
		</tr>
		{% endfor %}
	</tbody>
	
</table>
{% endblock %}