{% extends 'admintemplates/base.html' %}



{% block content %}
<h3>Messages</h3><hr>

<table class="table table-hover"> 
	<thead>
		<tr>
			<th>S.N.</th>
			<th>Sender</th>
			<th>Mobile</th>
			<th>Email</th>
			<th>Subject</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{% for message in messagelist %}
		<tr>
			<td>{{forloop.counter}}</td>
			<td><a href="{% url 'cmsapp:adminmessagedetail' message.id %}">{{message.name}}</a></td>
			<td>{{message.phone}}</td>
			<td>{{message.email}}</td>
			<td>{{message.subject}}</td>
			<td><a href="#">Delete</a> | 
				<a href="#">Update</a></td>
		</tr>
		{% endfor %}
	</tbody>
	
</table>

{% endblock %}