{% extends 'admintemplates/base.html' %}
{% block content %}
	<h3>Project Areas</h3>
		<div class="">
		<table class="table table-hover"> 
			<thead>
				<tr>
					<th>S.N.</th>
					<th>Title</th>
					<th>Text</th>
					<th>Image</th>
					<th>Priority</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for projetarea in projetareas %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{projetarea.title}}</td>
					<td>{{projetarea.text|truncatechars:200}}</td>
					<td>{% if projetarea.image %}<img src="{{projetarea.image.url}}" width="60px">{% endif %}</td>
					<td>{{projetarea.priority}}</td>
					<td><a href="{% url 'cmsapp:adminprojectareaupdate' projetarea.id %}">Update</a> 
						</td>
				</tr>
				{% endfor %}
			</tbody>
			   
		</table>
	</div>
{% endblock %}