{% extends 'admintemplates/base.html' %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!--/set-2-->
<div class="set-1">
	<div class="graph-2 general">
		<h3 class="inner-tittle two">User Registration Form </h3>
			<div class="grid-1">
					<div class="form-body">
							<form class="form-horizontal" method="POST" enctype="multipart/form-data">
								{% csrf_token%} 
								<div class="form-group">
									<label for="focusedinput" class="col-sm-2 control-label">User Name : </label>
									<div class="col-sm-8">
										{{form.username}} 
									</div>
									<div class="col-sm-2">
										<p class="help-block"><span id="custom_msg"></span></p>
									</div>
								</div>
								<div class="form-group">
									<label for="disabledinput" class="col-sm-2 control-label">Password : </label>
									<div class="col-sm-8">
										{{form.password}}
									</div>
								</div>
								<div class="form-group">
									<label for="inputPassword" class="col-sm-2 control-label">Confirm Password :</label>
									<div class="col-sm-8">
										{{form.confirm_password}} 
									</div>
									<div class="col-sm-2">
										<p class="help-block"><span id='password_massege'></span></p>
									</div>
								</div>
								<div class="form-group">
									<label for="inputPassword" class="col-sm-2 control-label">Full Name : </label>
									<div class="col-sm-8">
										{{form.full_name}} 
									</div>
									<div class="col-sm-2">
									</div>								
								</div>
								<div class="form-group">
									<label for="inputPassword" class="col-sm-2 control-label">Company Name : </label>
									<div class="col-sm-8">
										{{form.company_name}} 
									</div>
									<div class="col-sm-2">
									</div>								
								</div>
								<div class="form-group">
									<label for="inputPassword" class="col-sm-2 control-label">Email : </label>
									<div class="col-sm-8">
										{{form.email}} 
									</div>
									<div class="col-sm-2">
									</div>								
								</div>
								<div class="form-group">
									<label for="inputPassword" class="col-sm-2 control-label">Address : </label>
									<div class="col-sm-8">
										{{form.address}} 
									</div>
									<div class="col-sm-2">
									</div>								
								</div>
								<div class="form-group">
									<label for="inputPassword" class="col-sm-2 control-label">Phone : </label>
									<div class="col-sm-8">
										{{form.phone}} 
									</div>
									<div class="col-sm-2">
									</div>								
								</div>
								<div class="form-group">
									<label for="inputPassword" class="col-sm-2 control-label">Mobile : </label>
									<div class="col-sm-8">
										{{form.mobile}} 
									</div>
									<div class="col-sm-2">
									</div>								
								</div>
								<div class="form-group">
									<label for="inputPassword" class="col-sm-2 control-label">Website : </label>
									<div class="col-sm-8">
										{{form.website}} 
									</div>
									<div class="col-sm-2">
									</div>								
								</div>
								<div class="form-group">
									<label for="inputPassword" class="col-sm-2 control-label">Image : </label>
									<div class="col-sm-8">
										{{form.image}} 
									</div>
									<div class="col-sm-2">
									</div>								
								</div>
								<div class="form-group">
									<label for="inputPassword" class="col-sm-2 control-label">Biography : </label>
									<div class="col-sm-8">
										{{form.about}} 
									</div>
									<div class="col-sm-2">
									</div>								
								</div>
								<button class = "btn btn-info">submit</button>
							</form>
					</div>
			</div>
		</div>
	</div>
	 <!--//set-2-->
<script type="text/javascript">
	$('#id_password, #id_confirm_password').on('keyup', function () {
		if ($('#id_password').val() == ""){
			 $('#password_massege').html('');
		}
		else if($('#id_confirm_password').val( ) == ""){

			$('#password_massege').html('');
		}else{
	  if ($('#id_password').val() == $('#id_confirm_password').val()) {
	    $('#password_massege').html(' Password Matching').css('color', 'green');
	  } else 
	    $('#password_massege').html(' Not Matching').css('color', 'red');
	   }


	});
</script>
<script type="text/javascript">
		$("#id_username").on("keyup", function(){
			var u = $(this).val().trim();
			$.ajax({
				method:'get',
				url:"/cms-admin/idchecker/",
				data:{
					"user_name":u
				},
				success:function(data) {
					 $('#custom_msg').html(data.message).css('color', data.color);
					 if(data.color=="red")
					 	$('#save_bottom').attr("disabled", true);
					 else
					 	$('#save_bottom').attr("disabled", false);
				}
			})
		})
	</script>

{% endblock %}