{% extends 'admintemplates/base.html' %}
{% block content %}
	<h3>Teams Categories</h3>
		<h5 style="float: right;padding-right: 20px;">[<a href="{% url 'cmsapp:adminpersoncatcreate' %}"> + Add New</a> ]     </h5>
		<div class="">
		<table class="table table-hover"> 
			<thead>
				<tr>
					<th>S.N.</th>
					<th>Title</th>
					<th>Priority</th>	
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for personcat in personcats %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{personcat.title}}</td>
					<td>{{personcat.priority}}</td>
					<td><a href="{% url 'cmsapp:adminpersoncatupdate' personcat.id %}">Update</a> |
						<a href="{% url 'cmsapp:adminpersoncatdelete' personcat.id %}">Delete</a> 
						</td>
				</tr>
				{% endfor %}
			</tbody>
			   
		</table>
	</div>
{% endblock %}