{% extends 'admintemplates/base.html' %}



{% block content %}
<h3>Slideshows</h3>
<h5 style="float: right;padding-right: 20px;">[<a href="{% url 'cmsapp:adminslideshowcreate' %}">Add New</a>]     </h5>
<hr>
	<table class="table table-hover"> 
			<thead>
				<tr>
					<th>S.N.</th>
					<th>Title</th>
					<th>Text</th>
					<th>Image</th>
					<th>Priority</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for slideshow in slideshows %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{slideshow.title}}</td>
					<td>{{slideshow.text}}</td>
					<td><img src="{{slideshow.image.url}}" width="60px"></td>
					<td>{{slideshow.priority}}</td>
					<td><a href="{% url 'cmsapp:adminslideshowupdate' slideshow.id %}">Update</a> |
						<a href="{% url 'cmsapp:adminslideshowdelete' slideshow.id %}">Delete</a> 
						</td>
				</tr>
				{% endfor %}
			</tbody>
			   
		</table>

{% endblock %}