{% extends 'admintemplates/base.html' %}



{% block content %}
					<div class="outter-wp">
									<!--sub-heard-part-->
									  <div class="sub-heard-part">
									   <ol class="breadcrumb m-b-0">
											<li><a href="/cms-admin/">Home</a></li>
											<li class="active">Settings</li>
										</ol>
									   </div>
									<div class="graph-visual">

								  	<!--//sub-heard-part-->
									<h2 class="inner-tittle">Social Media</h2>
			 							 <div class="header-bottom" style="padding:0.5em">
			 							 	{% for sitesetting in sitesettings %}
			 							 	{% if sitesetting.name == 'facebook' %}
											<div class="header-bottom1">
												<div class="header-head" style="padding:1em">
													<h6 style="font-size: 1em;font-weight: bold;">Facebook</h6>
													<div class="bottom-head">
														<p><b>Value:</b> {{sitesetting.value}}</p>
													</div>
													<h4><a href="{% url 'cmsapp:adminsitesettingupdateU' sitesetting.id %}"><i class='fa fa-pencil-square-o'></i> Edit</a></h4>
												</div>
											</div>
											{% endif %}
											{% endfor %}
											{% for sitesetting in sitesettings %}
			 							 	{% if sitesetting.name == 'twitter' %}
											<div class="header-bottom1 header-bottom2">
												<div class="header-head" style="padding:1em">
													<h6 style="font-size: 1em;font-weight: bold;">Twitter</h6>
													<div class="bottom-head">
														<p><b>Value:</b> {{sitesetting.value}}</p>
													</div>
													<h4><a href="{% url 'cmsapp:adminsitesettingupdateU' sitesetting.id %}"><i class='fa fa-pencil-square-o'></i> Edit</a></h4>
												</div>
											</div>

											{% endif %}
											{% endfor %}
											{% for sitesetting in sitesettings %}
			 							 	{% if sitesetting.name == 'instagram' %}
											<div class="header-bottom1">
												<div class="header-head" style="padding:1em">
													<h6 style="font-size: 1em;font-weight: bold;">Instagram</h6>
													<div class="bottom-head">
														<p><b>Value:</b> {{sitesetting.value}}</p>
													</div>
													<h4><a href="{% url 'cmsapp:adminsitesettingupdateU' sitesetting.id %}"><i class='fa fa-pencil-square-o'></i> Edit</a></h4>
												</div>
											</div>
											{% endif %}
											{% endfor %}
											{% for sitesetting in sitesettings %}
			 							 	{% if sitesetting.name == 'linkedin' %}
											<div class="header-bottom1 header-bottom2">
												<div class="header-head" style="padding:1em">
													<h6 style="font-size: 1em;font-weight: bold;">Linkedin</h6>
													<div class="bottom-head">
														<p><b>Value:</b> {{sitesetting.value}}</p>
													</div>
													<h4><a href="{% url 'cmsapp:adminsitesettingupdateU' sitesetting.id %}"><i class='fa fa-pencil-square-o'></i> Edit</a></h4>
												</div>
											</div>
											{% endif %}
											{% endfor %}
											<div class="clearfix"> </div>
										</div>

											
										<!-- end abc -->
												<!--/buttons-inner-->
													<div class="button-inner-grids">
														<div class="col-md-6 inner-grid-button">
															<h3 class="inner-tittle two">Site Settings</h3>
															<div class="grid-1" style="margin: 0em;padding: 1em;background: #00ffff">
																
																<table class="table table-hover"> 
																	<thead>
																		<tr>
																			<th>Group</th>
																			<th>Title</th>
																			<th>Value</th>
																			<th>Action</th>
																		</tr>
																	</thead>
																	<tbody>
																		{% for sitesetting in sitesettings %}
																		{% if sitesetting.sitegroup == "contact" %}
																		<tr>
																			<td>{{sitesetting.sitegroup}}</td>
																			<td>{{sitesetting.name}}</td>
																			<td>{{sitesetting.value}}</td>
																			<td><a href="{% url 'cmsapp:adminsitesettingupdateU' sitesetting.id %}"> <i class='fa fa-pencil-square-o'></i> </a>|
																				<a href="{% url 'cmsapp:adminsitesettingdelete' sitesetting.id %}"> <i class='fa fa-trash-o'></i> </a> 
																				</td>
																		</tr>
																		{% endif %}
																		{% endfor %}
																			{% for sitesetting in sitesettings %}
																		{% if sitesetting.sitegroup == "address" %}
																		<tr>
																			<td>{{sitesetting.sitegroup}}</td>
																			<td>{{sitesetting.name}}</td>
																			<td>{{sitesetting.value}}</td>
																			<td><a href="{% url 'cmsapp:adminsitesettingupdateU' sitesetting.id %}"> <i class='fa fa-pencil-square-o'></i> </a>|
																				<a href="{% url 'cmsapp:adminsitesettingdelete' sitesetting.id %}"> <i class='fa fa-trash-o'></i> </a> 
																				</td>
																		</tr>
																		{% endif %}
																		{% endfor %}
																			{% for sitesetting in sitesettings %}
																		{% if sitesetting.sitegroup == "extra" %}
																		<tr>
																			<td>{{sitesetting.sitegroup}}</td>
																			<td>{{sitesetting.name}}</td>
																			<td>{{sitesetting.value}}</td>
																			<td><a href="{% url 'cmsapp:adminsitesettingupdateU' sitesetting.id %}"> <i class='fa fa-pencil-square-o'></i> </a>|
																				<a href="{% url 'cmsapp:adminsitesettingdelete' sitesetting.id %}"> <i class='fa fa-trash-o'></i> </a> 
																				</td>
																		</tr>
																		{% endif %}
																		{% endfor %}
																	</tbody>
																	   
																</table>
															</div>
															
														</div>
														<div class="col-md-6 graph-2 second">								
															<h3 class="inner-tittle two">Location Map </h3>
																<div class="map-bottm">
																	<div class="graph" style="padding: 0.4em">
																	{% for sitesetting in sitesettings %}
																		{% if sitesetting.sitegroup == "map" %}
																			<iframe src="https://www.google.com/maps/embed?pb={{sitesetting.value}}" allowfullscreen></iframe>
																			<h4 style="margin: 0em;font-size: 1em"><a href="{% url 'cmsapp:adminsitesettingupdateU' sitesetting.id %}"><i class='fa fa-pencil-square-o'></i> Edit</a></h4>
																		{% endif %}
																	{% endfor %}
																	</div>
																</div>
															</div>
														</div>
														<div class="clearfix"></div>	
													</div>
													<div class="button-inner-grids">
														<div class="col-md-6 inner-grid-button">
															<h3 class="inner-tittle two">Teams Categories </h3>
																<h5 style="float: right;padding-right: 20px;">[<a href="{% url 'cmsapp:adminpersoncatcreate' %}"> + Add New</a> ]     </h5>
															<div class="grid-1" style="margin: 0em;padding: 1em;background: #00ffff">
																
																<table class="table table-hover"> 
																	<thead>
																		<tr>
																			<th>S.N.</th>
																			<th>Title</th>
																			<th>Priority</th>	
																			<th>Action</th>
																		</tr>
																	</thead>
																	<tbody>
																		{% for personcat in personcats %}
																		<tr>
																			<td>{{forloop.counter}}</td>
																			<td>{{personcat.title}}</td>
																			<td>{{personcat.priority}}</td>
																			<td><a href="{% url 'cmsapp:adminpersoncatupdate' personcat.id %}"> <i class='fa fa-pencil-square-o'></i> </a>|
																				<a href="{% url 'cmsapp:adminpersoncatdelete' personcat.id %}"> <i class='fa fa-trash-o'></i> </a> 
																				</td>
																		</tr>
																		{% endfor %}
																	</tbody>
																	   
																</table>
															</div>
														</div>
														<div class="col-md-6 graph-2 second">
															<h3 class="inner-tittle two">Report Categories </h3>
															<h5 style="float: right;padding-right: 20px;">[<a href="{% url 'cmsapp:adminreportcatcreate' %}"> + Add New</a> ]     </h5>
															<div class="grid-1" style="margin: 0em;padding: 1em">
																
																<table class="table table-hover"> 
																	<thead>
																		<tr>
																			<th>S.N.</th>
																			<th>Title</th>
																			<th>Priority</th>
																			<th>Action</th>
																		</tr>
																	</thead>
																	<tbody>
																		{% for reportcat in reportcats %}
																		<tr>
																			<td>{{forloop.counter}}</td>
																			<td>{{reportcat.title}}</td>
																			<td>{{reportcat.priority}}</td>
																			<td><a href="{% url 'cmsapp:adminreportcatupdate' reportcat.id %}"><i class='fa fa-pencil-square-o'></i></a> |
																				<a href="{% url 'cmsapp:adminreportcatdelete' reportcat.id %}"> <i class='fa fa-trash-o'></i> </a> 
																				</td>
																		</tr>
																		{% endfor %}
																	</tbody>
																	   
																</table>
															</div>
														</div>
														<div class="clearfix"></div>	
													</div>
														<div class="button-inner-grids">
														<div class="col-md-6 inner-grid-button">
															<h3 class="inner-tittle two"> Logo and Banner </h3>
														     <div class="grid-1 col-md-12" style="alignment:center;margin:0;padding:1em;padding-top:2em;">
														     	{% for logo in logos %}
			 							 						{% if logo.title == 'logo' %}	
			 							 						<div class="col-md-6" style="overflow:hidden;">		
				 							 						<img src="{{logo.image.url}}" style="max-width:99%;    margin-left: 20%;">
																	  <p class="four">
																				<a href="{% url 'cmsapp:adminlogoupdate' logo.id %}">
																					<i class='fa fa-pencil-square-o'></i>  Edit
																				</a>
																			 </p>
																</div>
																{% endif %}
																{% endfor %}
																{% for logo in logos %}
			 							 						{% if logo.title == 'banner' %}			 		
			 							 						<div class="col-md-6" style="overflow:hidden;">
			 							 						<img src="{{logo.image.url}}" style="max-width:99%;">
																   <p class="four">
																				<a href="{% url 'cmsapp:adminlogoupdate' logo.id %}">
																					<i class='fa fa-pencil-square-o'></i>  Edit
																				</a>
																			 </p>
																</div>
																{% endif %}
																{% endfor %}
															 </div>											  
																	<div class="alert alert-info">
																					<b>Image Sizes:</b> Logo : 80X104px, Banner : 225X52px
																				</div>
														</div>
														<!--<div class="col-md-6 graph-2 second">
															<h3 class="inner-tittle two">Location Map </h3>
																<div class="map-bottm">
															
																</div>
														</div> -->
														<div class="clearfix"></div>	
													</div>
												<!--//buttons-inner-->
											
										</div>
										<!--//graph-visual-->
									</div>

{% endblock %}