{% extends 'admintemplates/base.html' %}

{% block content %}
  
  <h3>Reports</h3>
  <h5 style="float: right;padding-right: 20px;">[<a href="{% url 'cmsapp:adminreportcreate' %}">Add New</a>]     </h5>
  <table class="table table-hover">
  	<thead>
  		<tr>
  			<th>SN.</th>
  			<th>Title</th>
        <th>Type</th>
  			<th>Image</th>
        <th>Caption</th>        
  			<th>Action</th>
  		</tr>
  	</thead>
  	<tbody>
  		{% for report in reports %}
  		<tr>
  			<td>{{forloop.counter}}</td>
  			<td>{{report.title}}</td>        
        <td>{{report.r_type}}</td>
  			<td>{% if report.image %}<img src="{{report.image.url}}" width="50">{% endif %}</td>
        <td>{{report.caption}}</td>        
  			<td><a href="{% url 'cmsapp:adminreportupdate' report.id %}">Update</a> |
           <a href="{% url 'cmsapp:adminreportdelete' report.id %}">Delete</a></td>


  		</tr>

  		{% endfor %}
  	</tbody>
  	



  </table>

{% endblock %}
