{% extends 'admintemplates/base.html' %}


{% block content %}
<div class="outter-wp">

<!-- bar -->
		<div class="custom-widgets">
		   <div class="row-one">
				<div class="col-md-3 widget">
					<div class="stats-left ">
						<h5>Total</h5>
						<a href="{% url 'cmsapp:adminbloglist' %}"><h4> Blogs</h4></a>
					</div>
					<div class="stats-right">
						<label>{{blognum}}</label>
					</div>
					<div class="clearfix"> </div>	
				</div>
				<div class="col-md-3 widget states-mdl">
					<div class="stats-left">
						<h5>Total</h5>
						<a href="{% url 'cmsapp:adminnewseventlist' %}"><h4>Event News</h4></a>
					</div>
					<div class="stats-right">
						<label> {{eventnum}}</label>
					</div>
					<div class="clearfix"> </div>	
				</div>
				<div class="col-md-3 widget states-thrd">
					<div class="stats-left">
						<h5>Total</h5>
						<a href="{% url 'cmsapp:admingallerylist' %}"><h4>Gallery</h4></a>
					</div>
					<div class="stats-right">
						<label>{{gallerynum}}</label>
					</div>
					<div class="clearfix"> </div>	
				</div>
				<div class="col-md-3 widget states-last">
					<div class="stats-left">
						<h5>Total</h5>
						<a href="{% url 'cmsapp:adminpersonlist' %}"><h4>Teams</h4></a>
					</div>
					<div class="stats-right">
						<label>{{teamnum}}</label>
					</div>
					<div class="clearfix"> </div>	
				</div>
				<div class="clearfix"> </div>	
			</div>

		</div><br>
		<div class="graph-visual">
			<h3 class="inner-tittle">Other Items</h3>
			<div class="graph" style="padding: 1em 0.5em;">
			        <div class="buttons-ui">
							<a href="{% url 'cmsapp:admintestimoniallist' %}" class="btn blue">Testimonial: {{testimonialnum}} </a>
							<a href="{% url 'cmsapp:adminreportlist' %}" class="btn green">Report : {{reportnum}}</a>
							<a href="{% url 'cmsapp:adminslideshowlist' %}" class="btn red">Slide Show : {{slideshownum}}</a>
							<a href="{% url 'cmsapp:adminmenubarlist' %}" class="btn purple">Menu : {{menunum}}</a>
							<a href="{% url 'cmsapp:adminsettingslist' %}" class="btn orange">Site Setting : {{sitesettingnum}}</a>
							<a href="{% url 'cmsapp:adminuserinfolist' %}" class="btn yellow">User : {{userinfonum}}</a>
				  </div>
					 
	        </div>
	    </div>
		</br>
<!-- end bar -->
		<div class="bottom-grids">
				<div class="dev-table">    
					<div class="col-md-4 dev-col">                                    

                    <div class="dev-widget dev-widget-transparent">
                        <h2 class="inner one">Project Areas</h2>
                        <p>Main Focused Working Sector</p>                                        
                        <div class="dev-stat"><span class="counter"></span></div>                                                                                
                        <div class="progress progress-bar-xs">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                        </div>                                        
                        <p>Categoried Field of  <strong>GH Foundation</strong>. </p>

                        <a href="{% url 'cmsapp:adminprojectarealist' %}" class="dev-drop">Take a closer look <span class="fa fa-angle-right pull-right"></span></a>
                    </div>

                </div>
                <div class="col-md-4 dev-col mid">                                    

                    <div class="dev-widget dev-widget-transparent dev-widget-success">
                         <h3 class="inner">Overview</h3>
                        <p>Short Descriptions of Particular Page</p>                                        
                        <div class="dev-stat"><span class="counter"></span></div>                                                                                
                        <div class="progress progress-bar-xs">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                        </div>                                        
                        <p>Green Himalaya Foundation</p>

                        <a href="{% url 'cmsapp:adminoverviewlist' %}" class="dev-drop">Take a closer look <span class="fa fa-angle-right pull-right"></span></a>
                    </div>

                </div>
                <div class="col-md-4 dev-col">                                    

                    <div class="dev-widget dev-widget-transparent dev-widget-danger">
                         <h3 class="inner">About Us</h3>
                        <p>For more about GH Foundation</p>
                        <div class="dev-stat"><span class="counter"></span></div>                                                                                
                        <div class="progress progress-bar-xs">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                        </div>                                        
                        <p>Vission, Mission and Goal</p>

                        <a href="{% url 'cmsapp:adminaboutuslist' %}" class="dev-drop">Take a closer look <span class="fa fa-angle-right pull-right"></span></a>                                        
                    </div>

                </div>
				<div class="clearfix"></div>		
				
				</div>
		</div>
</div>
{% endblock %}