{% extends 'admintemplates/base.html' %}
{% block content %}
	<h3>Site Settings</h3>
	<h5 style="float: right;padding-right: 20px;">[<a href="{% url 'cmsapp:adminsitesettingcreate' %}">Add New</a>]     </h5>
		<div class="">
		<table class="table table-hover"> 
			<thead>
				<tr>   
					<th>S.N.</th>
					<th>Group</th>
					<th>Name</th>
					<th>values</th>
					<th>Published</th>
					<th>Updated</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for sitesetting in sitesettings %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{sitesetting.sitegroup}}</td>
					<td>{{sitesetting.name}}</td>
					<td>{{sitesetting.value|truncatechars:60}}</td>
					<td>{{sitesetting.published}}</td>
					<td>{{sitesetting.updated_at}}</td>					
					<td><a href="{% url 'cmsapp:adminsitesettingupdate' sitesetting.id %}">Update</a>
						</td>
				</tr>
				{% endfor %}
			</tbody>
			   
		</table>
	</div>
{% endblock %}