{% extends 'admintemplates/base.html' %}
{% block content %}				<!--outter-wp-->
							<div class="outter-wp">
									<!--sub-heard-part-->
									  <div class="sub-heard-part">
									   <ol class="breadcrumb m-b-0">
											<li><a href="index.html">Testimonial Details</a></li>
											<li class="active">Detail</li>
											<li style="float:right;padding-right: 10px">[ <a href="{% url 'cmsapp:admintestimonialupdate' testimonial.id %}">Update</a> ]</li>
										</ol>
									   </div>
								    <!--//sub-heard-part-->
										<!--/profile-->
										<h3 class="sub-tittle pro"></h3>
									       <div class="profile-widget">
														<h4>Title: {{testimonial.title}}</h4>
													</div>
														<!--/profile-inner-->
														 <div class="profile-section-inner">
														       <div class="col-md-6 profile-info">
																	
																	<div class="main-grid3">
																     <div class="p-20">
																		<div class="about-info-p">
																			<strong>Subtitle:</strong>
																			<br>
																			<p class="text-muted">{{testimonial.subtitle}}</p>
																		</div>
																		<div class="about-info-p">
																			<strong>Subtle</strong>
																			<br>
																			<p class="text-muted">{{testimonial.subtle}}</p>
																		</div>
																		<div class="about-info-p">
																			<strong>Subtle Limit :</strong>
																			
																			<p class="text-muted">{{testimonial.subtle_limit}}</p>
																		</div>
																		<div class="about-info-p m-b-0">
																			<strong>Priority :</strong>
																			<p class="text-muted">{{testimonial.priority}}</p>
																		</div>
																		<div class="about-info-p m-b-0">
																			<strong>Image :</strong><br/>
																			<p class="text-muted">
																				<img src ="{{testimonial.image.url}}" style="    width: 100%;"></p>
																		</div>
																		<div class="about-info-p m-b-0">
																			<strong>Caption :</strong><br/>
																			<p class="text-muted">
																				{{testimonial.caption}}</p>
																		</div>
																		<div class="about-info-p m-b-0">
																			<strong>Date :</strong><br/>
																			<p class="text-muted">
																				{{testimonial.date}}</p>
																		</div>
																	</div>
																 </div>									
															  </div>
															   <div class="col-md-6 profile-info two">
																<div class="main-grid3 p-skill">
														
																		
																			  <div class="timeline-panel">
																			<div class="timeline-body">
																					<h4 class="timeline-title">
																				   	Text :</h4>
																						  <p>{{testimonial.text}}<i class="fa fa-picture-o"></i></p>
																				</div>
																			  </div>
																					
																	</div>
																</div>
																<!--/map-->
															</div>
															
											 	<!--//profile-inner-->
												<!--//profile-->
									</div>
{% endblock %}