{% extends 'admintemplates/base.html' %}

{% block content %}
		<!--outter-wp-->
							<div class="outter-wp">
									<!--sub-heard-part-->
									  <div class="sub-heard-part">
									   <ol class="breadcrumb m-b-0">
											<li><a href="/cms-admin/">Home</a></li>
											<li class="active">Profile</li>
										</ol>
									   </div>
								    <!--//sub-heard-part-->
										<!--/profile-->
										<h3 class="sub-tittle pro">Profile</h3>
									       <div class="profile-widget">
														<img style="width:120px" src="{{userinfo.image.url}}" alt=" " />
														<h2>{{userinfo.full_name}}</h2>
														<p>Admin</p>
													</div>
														<!--/profile-inner-->
														 <div class="profile-section-inner">
														       <div class="col-md-6 profile-info">
																	<h3 class="inner-tittle">Personal Information </h3>
																	<div class="main-grid3">
																     <div class="p-20">
																		<div class="about-info-p">
																			<strong>Full Name</strong>
																			<br>
																			<p class="text-muted">{{userinfo.full_name}}</p>
																		</div>
																		<div class="about-info-p">
																			<strong>Mobile</strong>
																			<br>
																			<p class="text-muted">{{userinfo.mobile}}</p>
																		</div>
																		<div class="about-info-p">
																			<strong>Email</strong>
																			<br>
																			<p class="text-muted"><a href="mailto:info@example.com">{{userinfo.email}}</a></p>
																		</div>
																		<div class="about-info-p m-b-0">
																			<strong>Address</strong>
																			<br>
																			<p class="text-muted">{{userinfo.address}}</p>
																		</div>
																	</div>
																 </div>
																
															  </div>
															   <div class="col-md-6 profile-info two">
															    <h3 class="inner-tittle">Biography </h3>
																<div class="main-grid3 p-skill">
																	<p>{{userinfo.about|safe}}</p>
																</div>
													
																</div>
																<!--/map-->
												
																<div class="clearfix"></div>
															</div>
															
											 	<!--//profile-inner-->
												<!--//profile-->
									</div>

{% endblock %}