{% extends 'admintemplates/base.html' %}
{% load static %}
{% block content %}
  <script src="{% static 'adminstatic/js/modeustom.04022.js' %}"></script>
  <script src="{% static 'adminstatic/js/cbpFWTabs.js' %}"></script>


<div class="outter-wp">
								<!--/tabs-->
	 <div class="tab-main">
		 <!--/tabs-inner-->
	<div class="tab-inner">
	      <div id="tabs" class="tabs">
		            <h2 class="inner-tittle">Project Areas</h2>
				<div class="graph">
					<nav>
						<ul>
				{% for projetarea in projetareas %}							
							<li><a href="#section-{{forloop.counter}}" class="icon-shop"><span>{{projetarea.title}}</span></a></li>
				{% endfor %}
						</ul>
					</nav>
					<div class="content tab">
				{% for projetarea in projetareas %}	
								
				<section id="section-{{forloop.counter}}">
					<div class="float-right">	
					 <a href="{% url 'cmsapp:adminprojectareaupdate' projetarea.id %}" title="">
			            <i class="fa fa-pencil-square-o icon_9"></i>
			               Edit
			         </a>
			    	</div>	
			    		 <div class="inbox-mail">
								<div class="col-md-4 compose">
									<h2>DETAILS</h2>
									<div class="content-box">
									
										<ul class="nav"  style="padding: 0.2em">
										<li style="padding-bottom: 0.5em"> 
											{% if projetarea.image %}
											<img src="{{projetarea.image.url}}" style="width:100%;">
											{% endif %}
										</li>
										<li style="padding: 0.2em"><b>Caption:</b> {{projetarea.caption}}</li>
										<li style="padding: 0.2em"> <b>Subtitle:</b> {{projetarea.subtitle}}</li>
										<li style="padding: 0.2em"> <b>Priority:</b> {{projetarea.priority}}</li>
										
										</ul>
									</div>
								</div>
						</div>
					<div class="mediabox" style="width:66.666666%;text-align: justify;">
						<h3>Subtle Text</h3>
						<p>{{projetarea.subtle|safe}}</p>
					</div>
					<div class="mediabox" style="width:66.666666%;text-align: justify;">
						<h3>Text</h3>
						<p>{{projetarea.text|safe}}</p>
					</div>
				</section>
				{% endfor %}
						</div><!-- /content -->
					</div>
									<!-- /tabs -->
									
					</div>
			<script>
				new CBPFWTabs( document.getElementById( 'tabs' ) );
			</script>


		</div>
	</div>
</div>
{% endblock %}