{% extends 'admintemplates/base.html' %}
{% block content %}
	<h3>Testimonial</h3>
	<h5 style="float: right;padding-right: 20px;">[<a href="{% url 'cmsapp:admintestimonialcreate' %}">Add New</a>]     </h5>
<hr>
		<div class="">
		<table class="table table-hover"> 
			<thead>
				<tr>   
					<th>S.N.</th>
					<th>Name</th>
					<th>Address</th>
					<th>Email</th>
					<th>Work at</th>
					<th>Image</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for testimonial in testimonials %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{testimonial.name}}</td>
					<td>{{testimonial.address}}</td>
					<td>{{testimonial.email}}</td>
					<td>{{testimonial.workat}}</td>					
					<td><img style="width:50px" src="{{testimonial.image.url}}"></td>
					<td><a href="{% url 'cmsapp:admintestimonialupdate' testimonial.id %}">Update</a> |
						<a href="{% url 'cmsapp:admintestimonialdelete' testimonial.id %}">Delete</a> 
						</td>
				</tr>
				{% endfor %}
			</tbody>
			   
		</table>
	</div>
{% endblock %}
