{% extends 'admintemplates/base.html' %}

{% block content %}

<h3>Add Team Member</h3>
<h5 style="float: right;padding-right: 20px;margin-top:-20px;">[<a href="{% url 'cmsapp:adminpersoncatcreate' %}">+ Team Category</a>]     </h5>
<div class="maark-edit graph">
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{{form.as_p}}
	<button class="btn btn-outline-primary">Submit</button>
	</form>
</div>

{% endblock %}