{% extends 'admintemplates/base.html' %}

{% block content %}
<div class="bs-example2">
	<div class="modal-dialog">
		<div class="modal-content">
				<div class="modal-header">
					<a href="{% url 'cmsapp:admingallerylist' %}">
						<div class="close" data-dismiss="modal" aria-hidden="true">×</div>
					</a>
					<h2 class="modal-title">Delete Confirmation</h2>
				</div>				
				<div class="modal-body">
					<p>Are sure to delete '{{object.title}}'?</p>
				</div>
				<div class="modal-footer">
					<form method="POST" action="{% url 'cmsapp:admingallerydelete' object.id %}">	
	  					{% csrf_token %}
	  					<a href="{% url 'cmsapp:admingallerylist' %}" class="btn btn-default close" data-dismiss="modal">Cancel</a>
						<button class="btn btn-primary">Yes</button>
					</form>
				</div>
		</div>
	</div>
</div>
{% endblock %}