{% extends 'admintemplates/base.html' %}
{% block content %}				<!--outter-wp-->
							<div class="outter-wp">
									
										<!--/profile-->
										<h3 class="sub-tittle pro"></h3>
									       <div class="profile-widget"  style="background: #00ffff;height: 4em;padding: 10px 0">
									       	<!--sub-heard-part-->
									  			<div class="sub-heard-part">
												   	<ol class="breadcrumb m-b-0">
														<li><a href="index.html">Subscriber</a></li>
														<li class="active">Detail</li>											
													</ol>
									  			 </div>
								    <!--//sub-heard-part-->
													</div>
														<!--/profile-inner-->
														 <div class="profile-section-inner">
														       <div class="col-md-6 profile-info">
																	
																	<div class="main-grid3">
																     <div class="p-20">
																     	<div class="about-info-p">
																			<strong>Name:</strong>
																			<br>
																			<p class="text-muted">{{subscriber.name}}</p>
																		</div>
																		<div class="about-info-p">
																			<strong>Email:</strong>
																			<br>
																			<p class="text-muted">{{subscriber.email}}</p>
																		</div>
																		<div class="about-info-p">
																			<strong>Subject:</strong>
																			<br>
																			<p class="text-muted">{{subscriber.subject}}</p>
																		</div>
																		<div class="about-info-p">
																			<strong>Phone :</strong>
																			
																			<p class="text-muted">{{subscriber.phone}}</p>
																		</div>
																	</div>
																 </div>									
															  </div>
															   <div class="col-md-6 profile-info two">
																</div>
																<!--/map-->
															</div>
															
											 	<!--//profile-inner-->
												<!--//profile-->
									</div>
{% endblock %}