{% extends 'admintemplates/base.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'adminstatic/css/chocolat.css' %}" type='text/css' />
  <script src="{% static 'adminstatic/js/jquery.nicescroll.js' %}"></script>
  <script src="{% static 'adminstatic/js/jquery.chocrnizr.colat.js' %}"></script>
  <script src="{% static 'adminstatic/js/modeustom.04022.js' %}"></script>
  <script src="{% static 'adminstatic/js/jquery.chocolat.js' %}"></script>

  <script type="text/javascript">
    $(function() {
      $('.gallery-bottom a').Chocolat();
    });
    </script>
    <div class="outter-wp">
                <!--sub-heard-part-->
                   <div class="sub-heard-part">
                   <ol class="breadcrumb m-b-0">
                    <li><a href="/cms-admin/">Home</a></li>
                    <li class="active">Gallery</li>
                  </ol>
                   </div>
                  <!--//sub-heard-part-->
                <div class="graph-visual">
                    <h5 style="float: right;padding-right: 20px;">[<a href="{% url 'cmsapp:admingallerycreate' %}"> + Add New</a> ]     </h5>
                      <hr>
                      <h2 class="inner-tittle">Gallery </h2>
                           <!--/gallery-->
                           <div class="gallery">
                              <div class="gallery-bottom grid">
                                {% for gallery in galleries %}
                                <div class="col-md-3 g-left">
                                    <a href="{{gallery.image.url}}" rel="{{gallery.caption}} | <a href='/cms-admin/gallery/{{gallery.id}}/update/'><i class='fa fa-pencil-square-o'></i> Edit </a> | <a href='/cms-admin/gallery/{{gallery.id}}/delete/'><i class='fa fa-trash-o'></i>  Delete </a> " class="b-link-stripe b-animate-go  thickbox">
                                      <figure class="effect-oscar">
                                        <img src="{{gallery.image.url}}" alt=""/>
                                        <figcaption>
                                          <h4>{{gallery.title}}</h4>
                                            <p><i class="lnr lnr-magnifier"></i></p>
                                        </figcaption>     
                                      </figure>
                                    </a>
                                  </div>
                                  {% endfor %}
                                  <div class="clearfix"> </div>
                                </div>
                              </div>
                            </div>

                           <!--//gallery-->

                      </div>

{% endblock %}
