{% extends 'admintemplates/base.html' %}

{% block content %}

 <div class="set-3">
	<div class="graph-2 general">
		<h3 class="inner-tittle two">Add New Blog</h3>
		<div class="grid-1">
			<div class="form-body">
				<form method="POST" enctype="multipart/form-data"  class="form-horizontal">
					{% csrf_token %}
					{{form.as_p}}
				<button class="btn btn-outline-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>


{% endblock %}