{% extends 'admintemplates/base.html' %}

{% block content %}

<h3>Add Site Setting</h3>
<div class="maark-edit graph">
		<form class="form-horizontal" method="POST" enctype="multipart/form-data"> 
			{% csrf_token %}
			<div class="form-group">
				 <label for="inputEmail3" class="col-sm-2 control-label">Group</label> 
				 <div class="col-sm-9">
				 {{form.sitegroup}} 
				 </div>
			</div> 
			<div class="form-group">
				 <label for="inputEmail3" class="col-sm-2 control-label">Name</label> 
				 <div class="col-sm-9">
				 {{form.name}} 
				 </div>
			</div> 
			<div class="form-group">
				 <label for="inputEmail3" class="col-sm-2 control-label">Value</label> 
				 <div class="col-sm-9">
				 {{form.value}} 
				 </div>
			</div> 
			<div class="form-group"> 
				 <label for="inputEmail3" class="col-sm-2 control-label">Published</label> 
				 <div class="col-sm-9">
				 	{{form.published}}
				 </div>
			</div>

			<div class="col-sm-offset-2"> 
				<button class="btn btn-outline-primary">Submit</button>
			</div> 
		</form> 
</div>

{% endblock %}