{% extends 'admintemplates/base.html' %}

{% block content %}

<h3>Event Add</h3>
<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	{{form.as_p}}
<button class="btn btn-outline-primary">Submit</button>
</form>

{% endblock %}