{% extends 'admintemplates/base.html' %}
{% load static %}

{% block content %}
<h3>Overviews </h3>
<h5 style="float: right;padding-right: 20px;">[<a href="{% url 'cmsapp:adminoverviewcreate' %}"> + Add New</a> ]     </h5>
<hr>
<table class="table table-hover"> 
	<thead>
		<tr>
			<th>S.N.</th>
			<th>Title</th>
			<th>Text</th>
			<th>Menu</th>
			<th>Published</th>
			<th width="13%">Action</th>
		</tr>
	</thead>
	<tbody>
		{% for overview in overviews %}
		<tr>
			<td>{{forloop.counter}}</td>
			<td>{{overview.title}}</td>
			<td>{{overview.text|striptags|truncatewords:60|safe}}</td>
			<td>{{overview.menubar}}</td>
			<td>{{overview.published}}</td>
			<td><a href="{% url 'cmsapp:adminoverviewdelete' overview.id %}"><i class="fa fa-trash-o"></i>  Delete</a> | 
				<a href="{% url 'cmsapp:adminoverviewupdate' overview.id %}"><i class="fa fa-pencil-square-o"></i>  Edit</a></td>
		</tr>
		{% endfor %}
	</tbody>
	
</table>
{% endblock %}