{% extends 'admintemplates/base.html '%}
{% block content %}

<h3>Hello this is detail view of messagelist.</h3>
<hr>

{{messageobject.name}}
<br>
{{messageobject.phone}}
<br>
{{messageobject.email}}
<br>
{{messageobject.subject}}
<br>
{{messageobject.text}}
<br>


{% endblock %}