{% extends 'admintemplates/base.html' %}
{% block content %}
	<h3>Interested List</h3>
		<div class="">
		<table class="table table-hover"> 
			<thead>
				<tr>   
					<th>S.N.</th>
					<th>Name</th>
					<th>Email</th>
					<th>Phone</th>
					<th>Amount</th>
					<th>Country</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for interested in interesteds %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{interested.name}}</td>
					<td>{{interested.email}}</td>
					<td>{{interested.phone}}</td>
					<td>{{interested.amount}}</td>
					<td>{{interested.country}}</td>
					<td><a href="{% url 'cmsapp:admininterestedupdate' interested.id %}"><i class="fa fa-pencil-square-o"></i>  Edit </a> |
						<a href="{% url 'cmsapp:admininteresteddelete' interested.id %}"><i class="fa fa-trash-o"></i> Delete</a> 
						</td>
				</tr>
				{% endfor %}
			</tbody>
			   
		</table>
	</div>
{% endblock %}