{% extends 'admintemplates/base.html' %}
{% block content %}
	<h3>Menubars</h3>
		<h5 style="float: right;padding-right: 20px;">[<a href="{% url 'cmsapp:adminmenubarcreate' %}"> + Add New</a> ]     </h5>
		<div class="">
		<table class="table table-hover"> 
			<thead>
				<tr>
					<th>S.N.</th>
					<th>Title</th>
					<th>Root</th>
					<th>Slug</th>
					<th>Priority</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for menubar in menubars %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td><a href="{% url 'cmsapp:adminmenubardetail' menubar.id %}">
					{{menubar.title}}</a></td>
					<td>{{menubar.root}}</td>
					<td>{{menubar.slug}}</td>
					<td>{{menubar.priority}}</td>
					<td><a href="{% url 'cmsapp:adminmenubardetail' menubar.id %}"><i class="fa fa-trash-o"></i> Detail </a> | 
						<a href="{% url 'cmsapp:adminmenubarupdate' menubar.id %}"><i class="fa fa-pencil-square-o"></i>  Edit</a> 
						</td>
				</tr>
				{% endfor %}
			</tbody>
			   
		</table>
	</div>
{% endblock %}