{% extends 'admintemplates/base.html' %}



{% block content %}
<h3>Aboutus</h3>
<h5 style="float: right;padding-right: 20px;">[<a href="{% url 'cmsapp:adminaboutuscreate' %}"> + Add New </a>]     </h5><hr>
<table class="table table-hover"> 
	<thead>
		<tr>
			<th>S.N.</th>
			<th>Title</th>
			<th>Text</th>
			<th>Image</th>
			<th>Caption</th>
			<th>Slug</th>
			<th width="8%">Action</th>
		</tr>
	</thead>
	<tbody>
		{% for aboutus in aboutuss %}
		<tr>
			<td>{{forloop.counter}}</td>
			<td>{{aboutus.title}}</td>
			<td>{{aboutus.text|striptags|truncatewords:60|safe}}</td>			
			<td><img src="{{aboutus.image.url}}" width="60px"></td>
			<td>{{aboutus.caption|truncatechars:100}}</td>
			<td>{{aboutus.slug}}</td>
			<td>
				<a href="{% url 'cmsapp:adminaboutusupdate' aboutus.id %}"><i class="fa fa-pencil-square-o"></i>  Edit</a>
				</td>
		</tr>
		{% endfor %}
	</tbody>
	
</table>

{% endblock %}