{% extends 'admintemplates/base.html' %}

{% block content %}

<h3>Add Team Category</h3>
<div class="maark-edit graph">
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{{form.as_p}}
	<button class="btn btn-outline-primary">Submit</button>
	</form>
</div>

{% endblock %}