{% extends 'admintemplates/base.html' %}
{% block content %}
	<h3>Teams Members</h3>
		<h5 style="float: right;padding-right: 20px;">[<a href="{% url 'cmsapp:adminpersoncreate' %}">Add New</a>]     </h5>
		<div class="">
		<table class="table table-hover"> 
			<thead>
				<tr>
					<th>S.N.</th>
					<th>Name</th>
					<th>Post</th>
					<th>Address</th>
					<th>Email</th>
					<th>Phone</th>
					<th>Nationality</th>
					<th>Type</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for person in persons %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{person.name}}</td>
					<td>{{person.post}}</td>
					<td>{{person.address}}</td>
					<td>{{person.email}}</td>
					<td>{{person.phone}}</td>
					<td>{{person.nationality}}</td>
					<td>{{person.category}}</td>					
					<td><img src="{{person.image.url}}" width="60px"></td>
					<td>{{person.priority}}</td>
					<td><a href="{% url 'cmsapp:adminpersonupdate' person.id %}">Update</a> |
						<a href="{% url 'cmsapp:adminpersondelete' person.id %}">Delete</a> 
						</td>
				</tr>
				{% endfor %}
			</tbody>
			   
		</table>
	</div>
{% endblock %}