{% extends 'admintemplates/base.html' %}
{% block content %}
	<h3>Report Categories</h3>
		<h5 style="float: right;padding-right: 20px;">[<a href="{% url 'cmsapp:adminreportcatcreate' %}">Add New</a>]     </h5>
		<div class="">
		<table class="table table-hover"> 
			<thead>
				<tr>
					<th>S.N.</th>
					<th>Title</th>
					<th>Priority</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for reportcat in reportcats %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{reportcat.title}}</td>
					<td>{{reportcat.priority}}</td>
					<td><a href="{% url 'cmsapp:adminreportcatupdate' reportcat.id %}">Update</a> |
						<a href="{% url 'cmsapp:adminreportcatdelete' reportcat.id %}">Delete</a> 
						</td>
				</tr>
				{% endfor %}
			</tbody>
			   
		</table>
	</div>
{% endblock %}