{% extends 'admintemplates/base.html' %}
{% block content %}				<!--outter-wp-->
							<div class="outter-wp">
									<!--sub-heard-part-->
									  <div class="sub-heard-part">
									   <ol class="breadcrumb m-b-0">
											<li><a href="index.html">Overview Details</a></li>
											<li class="active">Detail</li>
											<li style="float:right;padding-right: 10px">[ <a href="{% url 'cmsapp:adminoverviewupdate' overview.id %}">Update</a> ]</li>
										</ol>
									   </div>
								    <!--//sub-heard-part-->
										<!--/profile-->
										<h3 class="sub-tittle pro"></h3>
									       <div class="profile-widget">
														<h4>Title: {{overview.title}}</h4>
													</div>
														<!--/profile-inner-->
														 <div class="profile-section-inner">
														       <div class="col-md-6 profile-info">
																	
																	<div class="main-grid3">
																     <div class="p-20">
																	<h4 class="timeline-title">
																				   	Subtitle :</h4>
																						  <p>{{overview.Subtitle}}</p>
																		
																	</div>
																 </div>									
															  </div>
															   <div class="col-md-6 profile-info two">
																<div class="main-grid3 p-skill">
														
																		
																			  <div class="timeline-panel">
																			<div class="timeline-body">
																					<h4 class="timeline-title">
																				   	Text :</h4>
																						  <p>{{overview.text}}<i class="fa fa-picture-o"></i></p>
																				</div>
																			  </div>
																					
																	</div>
																</div>
																<!--/map-->
															</div>
															
											 	<!--//profile-inner-->
												<!--//profile-->
									</div>
{% endblock %}