{% extends 'admintemplates/base.html' %}
{% load static %}

{% block content %}
<h3>Subscriber List</h3><hr>
<table class="table table-hover"> 
	<thead>
		<tr>
			<th>S.N.</th>
			<th>Name</th>
			<th>Subject</th>
			<th>Email</th>
			<th>Phone</th>			
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{% for subscriber in subscriberlist %}
		<tr>
			<td>{{forloop.counter}}</td>
			<td>{{subscriber.name}}</td>
			<td>{{subscriber.subject}}</td>
			<td>{{subscriber.email}}</td>			
			<td>{{subscriber.phone}}</td>
			<td><a href="{% url 'cmsapp:adminsubscriberdelete' subscriber.id %}">Delete</a></td>
		</tr>
		{% endfor %}
	</tbody>
	
</table>
{% endblock %}