{% extends 'admintemplates/base.html' %}
{% load static %}

{% block content %}
<h3>Blogs </h3>
<h5 style="float: right;padding-right: 20px;">[<a href="{% url 'cmsapp:adminblogcreate' %}"> + Add New</a> ]     </h5>
<hr>
<table class="table table-hover"> 
	<thead>
		<tr>
			<th>S.N.</th>
			<th>Title</th>
			<th>Text</th>
			<th>Image</th>
			<th>Author</th>
			<th>Posted By</th>			
			<th width="8%">Action</th>
		</tr>
	</thead>
	<tbody>
		{% for blog in blogs %}
		<tr>
			<td>{{forloop.counter}}</td> 
			<td>{{blog.title}}</td>
			<td>{{blog.text|striptags|truncatewords:60|safe}}</td>
			<td><img src="{{blog.image.url}}" width="90"></td>
			<td>{{blog.author}}</td>
			<td>{{blog.created_by}}</td>			
			<td><a href="{% url 'cmsapp:adminblogdelete' blog.id %}"><i class="fa fa-trash-o"></i>  Delete</a><br>  
				<a href="{% url 'cmsapp:adminblogupdate' blog.id %}"><i class="fa fa-pencil-square-o"></i>  Edit</a></td>
		</tr>
		{% endfor %}
	</tbody>
	
</table>
{% endblock %}