{% extends 'admintemplates/base.html' %}
{% block content %}				<!--outter-wp-->
							<div class="outter-wp">
									<!--sub-heard-part-->
									  <div class="sub-heard-part">
									   <ol class="breadcrumb m-b-0">
											<li><a href="index.html">Project Area</a></li>
											<li class="active">Detail</li>
											<li style="float:right;padding-right: 10px">[ <a href="{% url 'cmsapp:adminmenubarupdate' menubar.id %}">Update</a> ]</li>
										</ol>
									   </div>
								    <!--//sub-heard-part-->
										<!--/profile-->
										<h3 class="sub-tittle pro"></h3>
									       <div class="profile-widget">
														<h4>Title: {{menubar.title}}</h4>
													</div>
														<!--/profile-inner-->
														 <div class="profile-section-inner">
														       <div class="col-md-6 profile-info">
																	
																	<div class="main-grid3">
																     <div class="p-20">
																     <div class="about-info-p">
																			<strong>Root</strong>
																			<br>
																			<p class="text-muted">{{menubar.root}}</p>
																		</div>
																	  <div class="about-info-p">
																			<strong>Slug</strong>
																			<br>
																			<p class="text-muted">{{menubar.slug}}</p>
																		</div>
																		<div class="about-info-p">
																			<strong>Link</strong>
																			<br>
																			<p class="text-muted">{{menubar.link}}</p>
																		</div>
																		<div class="about-info-p">
																			<strong>Icon</strong>
																			<br>
																			<p class="text-muted">{{menubar.icon}}</p>
																		</div>
																		<div class="about-info-p m-b-0">
																			<strong>Priority :</strong>
																			<p class="text-muted">{{menubar.priority}}</p>
																		</div>
																		<div class="about-info-p m-b-0">
																			<strong>Date :</strong><br/>
																			<p class="text-muted">
																				{{menubar.updated_at}}</p>
																		</div>
																	</div>
																 </div>									
															  </div>
															   <div class="col-md-6 profile-info two">
																<div class="main-grid3 p-skill">
														
																		
																			  <div class="timeline-panel">
																			<div class="timeline-body">
																				
																				</div>
																			  </div>
																					
																	</div>
																</div>
																<!--/map-->
															</div>
															
											 	<!--//profile-inner-->
												<!--//profile-->
									</div>
{% endblock %}