{% extends 'admintemplates/base.html' %}

{% block content %}
  
  <h3>Galleries</h3>
  <h5 style="float: right;padding-right: 20px;margin-top:-20px">[<a href="{% url 'cmsapp:admingallerycreate' %}">Add New</a>]     </h5><hr>
  <table class="table table-hover">
  	<thead>
  		<tr>
  			<th>SN.</th>
  			<th>Title</th>
        <th>Caption</th>
  			<th>Image</th>
  			<th>Action</th>
  		</tr>
  	</thead>
  	<tbody>
  		{% for gallery in galleries %}
     		<tr>
  			<td>{{forloop.counter}}</td>
  			<td>{{gallery.title}}</td>
        <td>{{gallery.caption}}</td>
  			<td><img src="{{gallery.image.url}}" width="50"></td>
  			<td><a href="{% url 'cmsapp:admingalleryupdate' gallery.id %}">Update</a> |
           <a href="{% url 'cmsapp:admingallerydelete' gallery.id %}">Delete</a></td>
  		</tr>
   		{% endfor %}
  	</tbody>
  	



  </table>

{% endblock %}
