{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<title> Home :: Pravin</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Augment Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="{% static 'adminstatic/css/bootstrap.min.css' %}" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="{% static 'adminstatic/css/style.css' %}" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="{% static 'adminstatic/css/font-awesome.css' %}" rel="stylesheet"> 
<!-- jQuery -->
<link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'>
<!-- lined-icons -->
<link rel="stylesheet" href="{% static 'adminstatic/css/icon-font.min.css' %}" type='text/css' />
<!-- //lined-icons -->
<script src="{% static 'adminstatic/js/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'adminstatic/js/amcharts.js' %}"></script>	
<script src="{% static 'adminstatic/js/serial.js' %}"></script>	
<script src="{% static 'adminstatic/js/light.js' %}"></script>	
<script src="{% static 'adminstatic/js/radar.js' %}"></script>	
<link href="{% static 'adminstatic/css/barChart.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'adminstatic/css/fabochart.css' %}" rel='stylesheet' type='text/css' />
<!--clock init-->
<script src="{% static 'adminstatic/js/css3clock.js' %}"></script>
<!--Easy Pie Chart-->
<!--skycons-icons-->
<script src="{% static 'adminstatic/js/skycons.js' %}"></script>

<script src="{% static 'adminstatic/js/jquery.easydropdown.js' %}"></script>

<!--//skycons-icons-->
</head> 
<body>
   <div class="page-container">
   <!--/content-inner-->
	<div class="left-content">
	   <div class="inner-content">
		<!-- header-starts -->
			<div class="header-section">
						<!--menu-right-->
						<div class="top_menu">
						        <div class="main-search">
											<form>
											   <input type="text" value="Search" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Search';}" class="text"/>
												<input type="submit" value="">
											</form>
									<div class="close"><img src="{% static 'adminstatic/images/cross.png' %}" /></div>
								</div>
									<div class="srch"><button></button></div>
									<script type="text/javascript">
										 $('.main-search').hide();
										$('button').click(function (){
											$('.main-search').show();
											$('.main-search text').focus();
										}
										);
										$('.close').click(function(){
											$('.main-search').hide();
										});
									</script>
							<!--/profile_details-->
								

								<div class="profile_details_left">
										<li class="dropdown note">
											<a href="{% url 'cmsapp:adminsettingslist' %}" class="dropdown-toggle" aria-expanded="false"><i class="fa fa-wrench"> </i> <span> Setting</span></a>
										</li>
								<ul class="nofitications-dropdown">							
										<li class="dropdown note">
											<a href="/" class="dropdown-toggle" aria-expanded="false" target="_blank"><i class="fa fa-share-square-o"></i>  <span class="badge blue1">Site</span></a>
										</li>		   							   		
											<div class="clearfix"></div>	
								</ul>
							</div>
							<div class="clearfix"></div>	
							<!--//profile_details-->
						</div>
						<!--//menu-right-->
					<div class="clearfix"></div>
				</div>
					<!-- //header-ends -->
<div class="outter-wp">
					{% block content %}




                         {% endblock %}
                     </div>





									 <!--footer section start-->
										<footer>
										   <p>&copy 2019, Pravin Rai. All Rights Reserved | Design and developed	 by <a href="#" target="_blank">Pravin Rai.</a></p>
										</footer>
									<!--footer section end-->
								</div>
							</div>
					}
				<!--//content-inner-->
			<!--/sidebar-menu-->
				<div class="sidebar-menu">
					<header class="logo">
					<a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> 
					<a href="{% url 'cmsapp:adminhome' %}"> <span id="logo"> <h4>Admin Panel</h4></span> 
					<!--<img id="logo" src="" alt="Logo"/>--> 
				  </a> 
				</header>
			<div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>
			<!--/down-->
							<div class="down">	
									  <a href="#">
									  	{% if base_userinfo.image %}
									  	<img src="{{base_userinfo.image.url}}"></a>
									  	{% endif %}
									  <a href="#">Pravin Rai</a>
									 <ul>
									<li><a class="tooltips" href="
										{% if base_userinfo %}
										{% url 'cmsapp:adminuserinfodetail' base_userinfo.id %}
										{% endif %}

										"><span>Profile</span>
										<i class="lnr lnr-user"></i></a></li>
										<li><a class="tooltips" href="#"><span>Settings</span>
											<i class="lnr lnr-cog"></i></a></li>
										<li><a class="tooltips" href="{% url 'cmsapp:logout' %}"><span>Log out</span>
											<i class="lnr lnr-power-switch"></i></a></li>
										</ul>
									</div>
							   <!--//down-->
                           <div class="menu">
									<ul id="menu" >
										<li><a href="/cms-admin/"><i class="fa fa-tachometer"></i> <span>Dashboard</span></a></li>
										<li id="menu-academico" ><a href="#"><i class="fa fa-eye"></i> 
											<span>Overview</span> <span class="fa fa-angle-right" style="float: right"></span></a>
										   <ul id="menu-academico-sub" >
												<li id="menu-academico-avaliacoes" ><a href="{% url 'cmsapp:adminoverviewlist' %}">List</a></li>
												<li id="menu-academico-boletim" ><a href="{% url 'cmsapp:adminoverviewcreate' %}">Create</a></li>											
										   </ul>
										</li>
										<li id="menu-academico" ><a href="{% url 'cmsapp:adminaboutuslist' %}"><i class="fa fa-file-text-o">		 	
										 </i> <span>About Us</span></a>
										 </li>
										 <li id="menu-academico" ><a href="#"><i class="fa fa-pagelines"></i> 
											<span>News Events</span> <span class="fa fa-angle-right" style="float: right"></span></a>
										   <ul id="menu-academico-sub" >
												<li id="menu-academico-avaliacoes" ><a href="{% url 'cmsapp:adminnewseventlist' %}">List</a></li>
												<li id="menu-academico-boletim" ><a href="{% url 'cmsapp:adminnewseventcreate' %}">Create</a></li>											
										  </ul>
										</li>
										<li id="menu-academico" ><a href="#"><i class="fa fa-laptop"></i> 
											<span> Project Areas</span> <span class="fa fa-angle-right" style="float: right"></span></a>
											   <ul id="menu-academico-sub" >
													<li id="menu-academico-avaliacoes" ><a href="{% url 'cmsapp:adminprojectarealist' %}">List</a></li>
													<li id="menu-academico-boletim" ><a href="{% url 'cmsapp:adminprojectareacreate' %}">Create</a></li>											
											  </ul>
										</li>
										<li id="menu-academico" ><a href="{% url 'cmsapp:adminpersonlist' %}"><i class="fa fa-folder-o"></i> 
											<span>Teams</span> <span class="fa fa-angle-right" style="float: right"></span></a>
											   <ul id="menu-academico-sub" >
													<li id="menu-academico-avaliacoes" ><a href="{% url 'cmsapp:adminpersonlist' %}">List</a></li>
													<li id="menu-academico-boletim" ><a href="{% url 'cmsapp:adminpersoncreate' %}">Create</a></li>											
											  </ul>
										</li>
										 <li id="menu-academico" ><a href="#"><i class="fa fa-tablet"></i> 
											<span>Blogs</span> <span class="fa fa-angle-right" style="float: right"></span></a>
											   <ul id="menu-academico-sub" >
													<li id="menu-academico-avaliacoes" ><a href="{% url 'cmsapp:adminbloglist' %}">List</a></li>
													<li id="menu-academico-boletim" ><a href="{% url 'cmsapp:adminblogcreate' %}">Create</a></li>											
											  </ul>
										</li>									
										<li id="menu-academico" ><a href="#"><i class="fa fa-camera"></i> <span> Gallery</span> <span class="fa fa-angle-right" style="float: right"></span></a>
										   <ul id="menu-academico-sub" >
												<li id="menu-academico-avaliacoes" ><a href="{% url 'cmsapp:admingallerylist' %}">List</a></li>
												<li id="menu-academico-boletim" ><a href="{% url 'cmsapp:admingallerycreate' %}">Create</a></li>											
										  </ul>
										</li>
									 <li><a href="#"><i class="fa fa-picture-o"></i> <span>Slideshow</span><span class="fa fa-angle-right" style="float: right"></span></a>
									   <ul>
										<li><a href="{% url 'cmsapp:adminslideshowlist' %}"><i class="fa fa-inbox"></i> List</a></li>
										<li><a href="{% url 'cmsapp:adminslideshowcreate' %}"><i class="fa fa-pencil-square-o"></i> Add New Slide</a></li>									
									  </ul>
									</li>
									<!--<li id="menu-academico" ><a href="{% url 'cmsapp:adminsubscriberlist' %}"><i class="fa fa-file-text-o">		 	
										 </i> <span>Subscriber</span></a>
										 </li> -->
									<li id="menu-academico" ><a href="#">
										<i class="fa fa-user"></i> <span> Users </span>
										 <span class="fa fa-angle-right" style="float: right"></span></a>
										   <ul id="menu-academico-sub" >
												<li id="menu-academico-avaliacoes" ><a href="{% url 'cmsapp:adminuserinfolist' %}">List</a></li>
												<li id="menu-academico-boletim" ><a href="{% url 'cmsapp:adminuserinfocreate' %}">Create</a></li>											
										  </ul>
									</li>
									<li id="menu-academico" >
										<a href="#"><i class="fa fa-ticket"></i>
											 <span> Reports </span> 
											 <span class="fa fa-angle-right" style="float: right"></span>
										</a>
										   <ul id="menu-academico-sub" >
												<li id="menu-academico-avaliacoes" ><a href="{% url 'cmsapp:adminreportlist' %}">List</a></li>
												<li id="menu-academico-boletim" ><a href="{% url 'cmsapp:adminreportcreate' %}">Create</a></li>											
										  </ul>
									</li>
									<li id="menu-academico" ><a href="#"><i class="fa fa-smile-o"></i> <span> Testimonials </span> <span class="fa fa-angle-right" style="float: right"></span></a>
										   <ul id="menu-academico-sub" >
												<li id="menu-academico-avaliacoes" ><a href="{% url 'cmsapp:admintestimoniallist' %}">List</a></li>
												<li id="menu-academico-boletim" ><a href="{% url 'cmsapp:admintestimonialcreate' %}">Create</a></li>											
										  </ul>
									</li>
									<li id="menu-academico" ><a href="#"><i class="fa fa-wrench"></i> <span> Menu settings </span> <span class="fa fa-angle-right" style="float: right"></span></a>
										   <ul id="menu-academico-sub" >
												<li id="menu-academico-avaliacoes" ><a href="{% url 'cmsapp:adminmenubarlist' %}">List</a></li>
												<li id="menu-academico-boletim" ><a href="{% url 'cmsapp:adminmenubarcreate' %}">Create</a></li>											
										  </ul>
										</li>
								  </ul>
								</div>
							  </div>
							  <div class="clearfix"></div>		
							</div>
							<script>
							var toggle = true;
										
							$(".sidebar-icon").click(function() {                
							  if (toggle)
							  {
								$(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
								$("#menu span").css({"position":"absolute"});
							  }
							  else
							  {
								$(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
								setTimeout(function() {
								  $("#menu span").css({"position":"relative"});
								}, 400);
							  }
											
											toggle = !toggle;
										});
							</script>
<!--js -->
<link rel="stylesheet" href="{% static 'adminstatic/css/vroom.css' %}">
<script type="text/javascript" src="{% static 'adminstatic/js/vroom.js' %}"></script>
<script type="text/javascript" src="{% static 'adminstatic/js/TweenLite.min.js' %}"></script>
<script type="text/javascript" src="{% static 'adminstatic/js/CSSPlugin.min.js' %}"></script>
<script src="{% static 'adminstatic/js/jquery.nicescroll.js' %}"></script>
<script src="{% static 'adminstatic/js/scripts.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
   <script src="{% static 'adminstatic/js/bootstrap.min.js' %}"></script>
</body>
</html>